<div>
    <table>
        <tr>
            <td>Proveedor:</td>
            <td>
                <input type="text" id="txtProveedor" IdProveedor="0" />
            </td>
        </tr>
        <tr>
            <td>Monto:</td>
            <td>
                <input type="text" id="txtMonto" class="txtMonto" value="$0.00"/>
            </td>
        </tr>
        <tr>
            <td>Fecha requerida:</td>
            <td>
                <input type="text" id="txtFechaRequerida"/>
            </td>
        </tr>
    </table>
</div>