<div id="divFormaEditarCampana" idCampana="${IdCampana}">
    <table class="tblFormaEditarCampana"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarCampana-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo campaña:</span>
                </td> 
                <td class="tblFormaEditarCampana-Control-Col2"> 
                    <input type="text" id="txtCampana" class="txtCajaTexto" value="${Campana}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>