<div id="divConsultaAlmacenProductoResumen" IdProducto="${IdProducto}" >
   <div class="col-1">
       <div class="wrapper">
            <table class="tblFormaAlmacenProductoResumen-Izquierda-Renglon-1">
                <tr>
                    <td class="tblFormaAlmacenProductoResumen-Izquierda-Renglon-1-Col1">
                        <div id="divGridAlmacenProductoResumen" class="divContGrid renglon-bottom">
                            <div id="divContGridAlmacenProductoResumen">
                                <!--INICIO GRID DETALLE PRODUCTO PROVEEDOR-->
                                <table id="grdAlmacenProductoResumen"></table>
                                <div id="pagAlmacenProductoResumen"></div>
                                <!--FIN DE GRID DETALLE PRODUCTO PROVEEDOR-->
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div><!--end .wrapper-->
    </div>
</div>