<div id="divFormaEditarClienteAsignado">
    <table class="tblFormaCliente-Encabezado">
        <tr>
            <td colspan="2">
                <div class="divTituloFormularioSM">Dirección fiscal</div>
            </td>
        </tr>
    </table>
    <table class="tblFormaCliente">
        <tr>
            <td class="tblFormaCliente-td-Col1"><span class="lblEtiqueta">Razón Social:</span></td>
            <td class="tblFormaCliente-td-Col2"><span class="lblEtiqueta">Grupo Empresarial:</span></td>
        </tr>
        <tr>
            <td class="tblFormaCliente-td-Col1"><span>${RazonSocial}</span></td>
            <td class="tblFormaCliente-td-Col2"><span>${GrupoEmpresarial}</span></td>                         
        </tr>
        <tr>
            <td class="tblFormaCliente-td-Col1"><span class="lblEtiqueta">Nombre comercial:</span></td>
            <td class="tblFormaCliente-td-Col2"><span class="lblEtiqueta">RFC:</span></td>
        </tr>
        <tr>
            <td class="tblFormaCliente-td-Col1"><span>${GrupoEmpresarial}</span></td>
            <td class="tblFormaCliente-td-Col2"><span>${RFC}</span></td>
        </tr>
        <tr>
            <td class="tblFormaCliente-td-Col1"><span class="lblEtiqueta">Notas:</span></td>
            <td class="tblFormaCliente-td-Col2"><span class="lblEtiqueta"></span></td>                          
        </tr>            
        <tr>
            <td class="tblFormaCliente-td-Col1" colspan="2"><span>${Notas}</span></td>                          
        </tr>
        <tr>
            <td class="tblFormaCliente-td-Col1"><span class="lblEtiqueta">Dominio:</span></td>
            <td class="tblFormaCliente-td-Col2"><span class="lblEtiqueta">Tipo Industria:</span></td>
        </tr>
        <tr>
            <td class="tblFormaCliente-td-Col1"><span>${Dominio}</span></td>
            <td class="tblFormaCliente-td-Col2"><span>${TipoIndustria}</span></td>
        </tr>
    </table>
</div>