<div id="divFormaAgregarCuentaBancariaCliente" idCliente="${IdCliente}">

    <table class="tblFormaAgregarCuentaBancariaCliente"> 
        <tbody>
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Razón social:</span></td>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2">${RazonSocial}</td>
            </tr>
            <tr> 
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"></td> 
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2"></td>
            </tr>
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Banco:</span></td>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">No. cuenta de bancaria:</span></td>
            </tr>
            <tr>      
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1">                 
                    <select id="cmbBanco" class="cmbComboBox" onchange="">
                        <option value="0">Eligir una opción...</option>
                        {{each TipoBancos}}
                            <option value="${$value.IdBanco}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Banco}</option>
                        {{/each}}
                    </select>
                </td>                              
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2"><input type="text" class="txtCajaTexto" id="txtCuentaBancariaCliente" value="" /></td>
            </tr>            
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Moneda:</span></td>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Descripcion:</span></td> 
            </tr>
            <tr> 
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1">                 
                    <select id="cmbTipoMoneda" class="cmbComboBox" onchange="">
                        <option value="0">Eligir una opción...</option>
                        {{each TipoMonedas}}
                            <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                        {{/each}}
                    </select>
                </td> 
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2"><input type="text" class="txtCajaTexto" id="txtDescripcion" value="" /></td>
            </tr>
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Método de pago:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1">
                    <select id="cmbMetodoPago" class="cmbComboBox">
                            <option value="0">No identificado</option>
                            {{each MetodosPago}}
                                <option value="${$value.Valor}">${$value.Descripcion}</option>
                            {{/each}}
                        </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>