<div id="divFormaConsultarTipoServicio" idTipoServicio="${IdTipoServicio}">
<table class="tblFormaConsultarTipoServicio"> 
    <tbody>
        <tr> 
            <td class="tblFormaConsultarTipoServicio-Etiqueta-Col1">
                <span class="lblEtiqueta">Tipo de servicio:</span>
            </td> 
            <td class="tblFormaConsultarTipoServicio-Control-Col2"> 
                <span class="lblEtiquetaConsulta" title="TipoServicio">${TipoServicio}</span> 
            </td>
        </tr> 
    </tbody>
</table>
</div>