<div id="divFormaConsultarLevantamiento" idLevantamiento="${Folio}" idCliente="${IdCliente}" idOportunidad="${IdOportunidad}">
    <div class="col-1">
        <table class="tblFormaServicio-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioSM">
                        Datos del Levantamiento
                    </div>
                </td>
            </tr>
        </table>
        <table class="tblFormaLevantamiento-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">No. Levantamiento:</span></td>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Fecha:</span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1">${Folio}</td>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col2">${FechaInicio}</td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Razón social:</span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1">
                    ${RazonSocial}
                </td>
            </tr>
            <tr>

                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Oportunidad:</span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1" colspan="4">
                    ${Oportunidad}
                </td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">División:</span></td>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col2"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Vigencia: </span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1">
                    ${Division}
                </td>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col2">${FechaEstimada}</td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Descripción:</span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1">
                    ${Descripcion}
                </td>
            </tr>
        </table>
        <div id="tabChecklist">
            <ul>
                <li><a href="#tabENERGIAUPS">ENERGIA UPS</a></li>
                <li><a href="#tabCOMUNICACIONESVIDEOPROYECCION">COMUNICACIONES VIDEO PROYECCIÓN</a></li>
                <li><a href="#tabCOMUNICACIONESAUDIO">COMUNICACIONES AUDIO</a></li>
                <li><a href="#tabCOMUNICACIONESCONMUTADOR">COMUNICACIONES CONMUTADOR</a></li>
                <li><a href="#tabCOMUNICACIONESENLACESDEMICROONDA">COMUNICACIONES ENLACES DE MICROONDA</a></li>
                <li><a href="#tabINFRAESTRUCTURACABLEADOVOZYDATOS">INFRAESTRUCTURA CABLEADO VOZ Y DATOS</a></li>
                <li><a href="#tabINFRAESTRUCTURACANALIZACIONES">INFRAESTRUCTURA CANALIZACIONES</a></li>
                <li><a href="#tabINFRAESTRUCTURAPROTECCION">INFRAESTRUCTURA PROTECCIÓN</a></li>
            </ul>
            <div id="tabENERGIAUPS">
                <table class="tblSolicitudLevantamieno" style="width:100%;">
                    <thead>
                        <tr>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">Si / No</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2"><span>Concepto</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cantidad</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4"><span>Observaciones</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{each EnergiaUPS}}
                        <tr id="energiaups">
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">
                                <input type="checkbox" {{if $value.Check == "1"}} checked="checked" {{/if}} disabled />
                            </td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2" width="40%">${$value.Descripcion}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3" width="20%">${$value.Cantidad}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4" width="40%">${$value.Observacion}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="tabCOMUNICACIONESVIDEOPROYECCION">
                <table class="tblSolicitudLevantamieno" style="width:100%;">
                    <thead>
                        <tr>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">Si / No</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2"><span>Concepto</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cantidad</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4"><span>Observaciones</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{each ComunicacionesVideoProyeccion}}
                        <tr id="comunicacionesvideoproyeccion">
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">
                                <input type="checkbox" {{if $value.Check == "1"}} checked="checked" {{/if}} disabled />
                            </td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2" width="40%">${$value.Descripcion}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3" width="20%">${$value.Cantidad}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4" width="40%">${$value.Observacion}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="tabCOMUNICACIONESAUDIO">
                <table class="tblSolicitudLevantamieno" style="width:100%;">
                    <thead>
                        <tr>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">Si / No</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2"><span>Concepto</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cantidad</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4"><span>Observaciones</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{each ComunicacionesAudio}}
                        <tr id="comunicacionesaudio">
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">
                                <input type="checkbox" {{if $value.Check == "1"}} checked="checked" {{/if}} disabled />
                            </td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2" width="40%">${$value.Descripcion}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3" width="20%">${$value.Cantidad}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4" width="40%">${$value.Observacion}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="tabCOMUNICACIONESCONMUTADOR">
                <table class="tblSolicitudLevantamieno" style="width:100%;">
                    <thead>
                        <tr>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">Si / No</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2"><span>Concepto</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cantidad</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4"><span>Observaciones</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{each ComunicacionesConmutador}}
                        <tr id="comunicacionesconmutador">
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">
                                <input type="checkbox" {{if $value.Check == "1"}} checked="checked" {{/if}} disabled />
                            </td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2" width="40%">${$value.Descripcion}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3" width="20%">${$value.Cantidad}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4" width="40%">${$value.Observacion}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="tabCOMUNICACIONESENLACESDEMICROONDA">
                <table class="tblSolicitudLevantamieno" style="width:100%;">
                    <thead>
                        <tr>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">Si / No</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2"><span>Concepto</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cantidad</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4"><span>Observaciones</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{each ComunicacionesEnlacesMircoonda}}
                        <tr id="comunicacionesenclacesmicroonda">
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">
                                <input type="checkbox" {{if $value.Check == "1"}} checked="checked" {{/if}} disabled />
                            </td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2" width="40%">${$value.Descripcion}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3" width="20%">${$value.Cantidad}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4" width="40%">${$value.Observacion}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="tabINFRAESTRUCTURACABLEADOVOZYDATOS">
                <table class="tblSolicitudLevantamieno" style="width:100%;">
                    <thead>
                        <tr>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">Si / No</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2"><span>Concepto</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cantidad</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4"><span>Observaciones</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{each InfraestructuraCableadoVozDatos}}
                        <tr id="infraestructuracableadovozdatos">
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">
                                <input type="checkbox" {{if $value.Check == "1"}} checked="checked" {{/if}} disabled />
                            </td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2" width="40%">${$value.Descripcion}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3" width="20%">${$value.Cantidad}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4" width="40%">${$value.Observacion}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="tabINFRAESTRUCTURACANALIZACIONES">
                <table class="tblSolicitudLevantamieno" style="width:100%;">
                    <thead>
                        <tr>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">Si / No</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2"><span>Concepto</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cantidad</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4"><span>Observaciones</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{each InfraestructuraCanalizaciones}}
                        <tr id="infraestructuracanalizaciones">
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">
                                <input type="checkbox" {{if $value.Check == "1"}} checked="checked" {{/if}} disabled />
                            </td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2" width="40%">${$value.Descripcion}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3" width="20%">${$value.Cantidad}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4" width="40%">${$value.Observacion}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="tabINFRAESTRUCTURAPROTECCION">
                <table class="tblSolicitudLevantamieno" style="width:100%;">
                    <thead>
                        <tr>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">Si / No</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2"><span>Concepto</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cantidad</span></td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4"><span>Observaciones</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{each InfraestructuraProteccion}}
                        <tr id="infraestructuraproteccion">
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col1">
                                <input type="checkbox" {{if $value.Check == "1"}} checked="checked" {{/if}} disabled />
                            </td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col2" width="40%">${$value.Descripcion}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col3" width="20%">${$value.Cantidad}</td>
                            <td class="tblSolicitudLevantamieno-Etiqueta-Col4" width="40%">${$value.Observacion}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>