<div id="divFormaEditarSerieNotaCredito" IdSucursal="${IdSucursal}" idSerieNotaCredito="${IdSerieNotaCredito}">
<table class="tblFormaAgregarSerieNotaCredito"> 
    <tbody>
        <tr> 
            <td class="tblFormaSerieNotaCredito-Izquierda-Renglon-1-Col1">
                <span class="lblEtiqueta">Serie de nota de credito:</span>
            </td>
        </tr>
        <tr> 
            <td class="tblFormaSerieNotaCredito-Izquierda-Renglon-1-Col1"> 
                <input type="text" id="txtSerieNotaCredito" class="txtCajaTexto" value="${SerieNotaCredito}" />
            </td>
        </tr> 
    </tbody>
</table>
</div>