<div id="divFormaConsultarAutorizacionTipoCambio" IdAutorizacionTipoCambio="${IdAutorizacionTipoCambio}">
    <table class="tblFormaConsultarAutorizacionTipoCambio"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarAutorizacionTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Usuario autoriza:</span>
                </td>                 
                <td class="tblFormaConsultarAutorizacionTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Usuario solicita:</span>
                </td> 
                
            </tr>
            <tr>
                <td class="tblFormaConsultarAutorizacionTipoCambio-Control-Col2">                                        
                    <span>${UsuarioAutoriza}</span>
                </td>
                <td class="tblFormaConsultarAutorizacionTipoCambio-Control-Col2">                                        
                    <span>${UsuarioSolicita}</span>
                </td>
            </tr>
            <tr> 
                <td class="tblFormaConsultarAutorizacionTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Moneda origen:</span>
                </td>                 
                <td class="tblFormaConsultarAutorizacionTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Moneda destino:</span>
                </td> 
                
            </tr>
            <tr>
                <td class="tblFormaConsultarAutorizacionTipoCambio-Control-Col2">                                        
                    <span>${MonedaOrigen}</span>
                </td>
                <td class="tblFormaConsultarAutorizacionTipoCambio-Control-Col2">                                        
                    <span>${MonedaDestino}</span>
                </td>
            </tr>
             <tr> 
                <td class="tblFormaConsultarAutorizacionTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de cambio:</span>
                </td>                 
                <td class="tblFormaConsultarAutorizacionTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Fecha vigencia:</span>
                </td>                 
            </tr>  
            <tr>
                <td class="tblFormaConsultarAutorizacionTipoCambio-Control-Col2">                                        
                    <span>${TipoCambio}</span>
                </td>
                <td class="tblFormaConsultarAutorizacionTipoCambio-Control-Col2">                                        
                    <span>${FechaVigencia}</span>
                </td>
            </tr> 
            <tr> 
                <td class="tblFormaConsultarAutorizacionTipoCambio-Etiqueta-Col1" colspan="2">
                    <span class="lblEtiqueta">Tipo de documento:</span>
                </td>                 
            </tr> 
            <tr>
                <td class="tblFormaConsultarAutorizacionTipoCambio-Control-Col2" colspan="2">                                        
                    <span>${TipoDocumento}</span>
                </td>
            </tr>                    
        </tbody>
    </table>
</div>