<div id="divFormaConsultarTipoGarantia" idTipoGarantia="${IdTipoGarantia}">
    <table class="tblFormaConsultarTipoGarantia"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTipoGarantia-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de garantía:</span>
                </td> 
                <td class="tblFormaConsultarTipoGarantia-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TipoGarantia">${TipoGarantia}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>