<div id="divResultadoVentasDivision" style="width:1000px; height:600px;">
    <div id="tabsGraficasVentas">
        <ul>
            <li><a href="#divGraficaDivision">Divisiones</a></li>
            <li><a href="#divGraficaSucursal">Sucursales</a></li>
            <li><a href="#divGraficaOportunidades">Oportunidades</a></li>
            <li><a href="#divGraficaAgente">Agentes</a></li>
            <li><a href="#divGraficaActividades">Actividades</a></li>
            <li><a href="#divReporteAvanceMeta">Avance Meta</a></li>
            {{if puedeExportarReporteVentasPorCliente == 1}}
            <li><a href="#divReporteVentasPorCliente">Ventas por Cliente</a></li>
            {{/if}}
            <li><a href="#divReporteAtencionClientes">Atencion a Clientes</a></li>
			<li><a href="#divSabanaClientes">Sabana de clientes</a></li>
        </ul>
        <div id="divGraficaDivision">
            <div id="cnvResultadoVentasDivision"></div>
        </div>
        <div id="divGraficaSucursal">
            <div id="cnvResultadoVentasSucursal"></div>
        </div>
        <div id="divGraficaOportunidades">
            <div id="divTabsGraficasOportunidades">
                <ul>
                    <li><a href="#divGraficaOportunidadesTotales">Oportunidades</a></li>
                    <li><a href="#divGraficaOportunidadesAlta">Alta</a></li>
                    <li><a href="#divGraficaOportunidadesMedia">Media</a></li>
                    <li><a href="#divGraficaOportunidadesBaja">Baja</a></li>
                </ul>
                <div id="divGraficaOportunidadesTotales">
                    <div id="cnvResultadoVentasOportunidades"></div>
                </div>
                <div id="divGraficaOportunidadesAlta">
                    <div id="cnvResultadoVentasOportunidadesAlta"></div>
                </div>
                <div id="divGraficaOportunidadesMedia">
                    <div id="cnvResultadoVentasOportunidadesMedia"></div>
                </div>
                <div id="divGraficaOportunidadesBaja">
                    <div id="cnvResultadoVentasOportunidadesBaja"></div>
                </div>
            </div>
        </div>
        <div id="divGraficaAgente">
            <div id="cnvResultadoVentasAgente"></div>
        </div>
        <div id="divGraficaActividades">
        
           <!-- <div>
                <table>
                    <tr>
                        <td><span class="lblEtiqueta">Fecha inicial:</span></td>
                        <td><span class="lblEtiqueta">Fecha final:</span></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="txtFechaInicialActividad" value="${FechaInicial}"></td>
                        <td><input type="text" id="txtFechaFinalActividad" value="${FechaFinal}"></td>  
                        <td><button id="Button1" class="buttonLTR">Filtrar fecha</button></td>
                    </tr>
                </table>
            </div>-->
        
            <div id="cnvResultadoActividades"></div>
        </div>
        <div id="divReporteAvanceMeta"></div>
        {{if puedeExportarReporteVentasPorCliente == 1}}
        <div id="divReporteVentasPorCliente">
            <div>
            
                <table>
                    <tr>
                        <td><span class="lblEtiqueta">Fecha inicial:</span></td>
                        <td><span class="lblEtiqueta">Fecha final:</span></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="txtFechaInicialIRMA" value="${FechaInicial}"></td>
                        <td><input type="text" id="txtFechaFinalIRMA" value="${FechaFinal}"></td>  
                        <td>
                            <select id="CmbSucursal" class="cmbComboBox">
                                <option value="-1">Todas</option>
                                {{each Sucursal}}
                                <option value="${$value.Valor}">${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td><button id="btnCargarTablaVentasCliente" class="buttonLTR">Filtrar fecha</button></td>
                        <td><button id="ExportarReporteVentaCliente" class="buttonLTR">Exportar reporte</button></td>
                    </tr>       
                 </table>
                  <ul>
                    <li>El monto refleja las ventas menos cancelaciones menos notas de crédito del período por cliente</li>
                    <li>El monto en $0.00 refleja las ventas menos cancelaciones del cliente</li>
                    <li>El monto negativo es resultado de nota de crédito del cliente por compras anteriores</li>
                  </ul>
             </div>
            <hr/>
            <div id="rptReporteVentasPorCliente" style="height:400px; overflow:auto;"></div>
        </div>
        {{/if}}
        <div id="divReporteAtencionClientes">
            <div>
                <a href="../ExportacionesExcel/ExportarExcelReporteAtencionClientes.aspx" target="_blank" class="btnJqueryUI buttonLTR">Exportar reporte</a>
            </div>
            <br />
            <div id="rptAnalisisAtencionCliente" style="height:500px; overflow:auto;"></div>
        </div>
		<div id="divSabanaClientes">
			<table>
				<tbody>
					<tr>
						<td>Fecha inicial:</td>
						<td>Fecha final:</td>
                        <td>Cliente:</td>
                        <td>Agente:</td>
                        <td>Frequencia:</td>
                        <td></td>
					</tr>
					<tr>
						<td><input type="text" id="txtFechaInicialSabana" value="01/01/${Year}" style="width:80px;"/></td>
						<td><input type="text" id="txtFechaFinalSabana" value="${Hoy}" style="width:80px;"/></td>
                        <td><input type="text" id="txtClienteSabana" IdCliente="0" style="width:120px;"/></td>
                        <td>
                            <select id="cmbIdUsuarioAgenteSabana" style="width:80px;">
                                <option value="-1">Todos</option>
                                {{each AgentesCombo}}
                                <option value="${$value.Valor}">${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <select id="cmbIncidentesSabana" style="width:80px;">
                                <option value="-1">Todos</option>
                            </select>
                        </td>
						<td><button id="btnCargarSabanaClientes" class="buttonLTR">Actualizar</button></td>
					</tr>
				</tbody>
			</table>
			<hr />
			<div id="divTablaSabanaCliente" style="height:500px;width:960px;overflow:auto;"></div>
		</div>
    </div>
</div>