<div id="divFormaConsultarEstructuraAddendaConsultar" IdAddenda="${IdAddenda}" idEstructuraAddenda="${IdEstructuraAddenda}">
<table class="tblFormaAgregarEstructuraAddenda"> 
    <tbody>
        <tr> 
            <td class="tblFormaEstructuraAddenda-Izquierda-Renglon-1-Col1">
                <span class="lblEtiqueta">Estructura addenda:</span>
            </td>
            <td class="tblFormaEstructuraAddenda-Izquierda-Renglon-1-Col2">
                <span class="lblEtiqueta">Tipo elemento:</span>
            </td> 
             
        </tr>
        <tr> 
            <td class="tblFormaEstructuraAddenda-Izquierda-Renglon-1-Col1"> 
                 <span>${EstructuraAddenda}</span>
            </td>           
            <td class="tblFormaEstructuraAddenda-Izquierda-Renglon-1-Col2">
                 <span>${TipoElemento}</span>                
            </td>
        </tr> 
    </tbody>
</table>
</div>