<div id="divFormaConsultarAlmacen" idAlmacen="${IdAlmacen}">
    <div class="col-1">
        <table class="tblFormaAlmacen-Arriba">
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span class="lblEtiqueta">Almacen:</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span class="lblEtiqueta">Empresa:</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span>${Almacen}</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span>${Empresa}</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span class="lblEtiqueta">Teléfono:</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span class="lblEtiqueta">Correo:</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span>${Telefono}</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span>${Correo}</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span class="lblEtiqueta">Tipo almacen:</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span class="lblEtiqueta">Diponible venta:</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span>${TipoAlmacen}</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span>${DispobibleVenta}</span></td>
            </tr>
        </table>
        <table class="tblFormaAlmacen-Encabezado">
            <tr>
                <td colspan="2">
                    <div class="divTituloFormularioSM">
                        <div class="divTitulo">Dirección</div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="tblFormaAlmacen-Arriba">
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span class="lblEtiqueta">Calle:</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1" colspan="2"><span>${Calle}</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span class="lblEtiqueta">No. exterior:</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span class="lblEtiqueta">No. interior:</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span>${NumeroExterior}</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span>${NumeroInterior}</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span class="lblEtiqueta">Colonia:</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1" colspan="2"><span>${Colonia}</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span class="lblEtiqueta">País:</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span class="lblEtiqueta">Estado:</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span>${Pais}</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span>${Estado}</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span class="lblEtiqueta">Municipio:</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span class="lblEtiqueta">Código Postal:</span></td>
            </tr>
            <tr>
                <td class="tblFormaAlmacen-Arriba-td-Col1"><span>${Municipio}</span></td>
                <td class="tblFormaAlmacen-Arriba-td-Col2"><span>${CodigoPostal}</span></td>
            </tr>
        </table>
    </div>
</div>