<div id="divFormaAgregarCargaMasivaInventario">
    <table class="tblFormaAgregarCargaMasivaInventario-Encabezado">
        <tr>
            <td>
                <div class="divTituloFormularioSM">
                    Carga Masiva Inventario
                </div>
            </td>
        </tr>
    </table>
    <table class="tblFormaAgregarCargaMasivaInventario-Izquierda-Renglon-1">
        <tr>
            <td><span class="lblEtiqueta">Proveedor:</span></td>
            <td colspan="3"><input id="txtBuscadorProveedor" style="width:300px;" /></td>
        </tr>
        <tr>
            <td class="tdCol-1"><span class="lblEtiqueta">Fecha de factura:</span></td>
            <td class="tdCol-2"><input id="txtFechaFactura" class="txtFecha"/></td>
            <td class="tdCol-3"><span class="lblEtiqueta">Numero de factura:</span></td>
            <td class="tdCol-4"><input id="txtNumeroFactura" class="txtCajaTexto"/></td>
        </tr>
        <tr>
            <td class="tdCol-1"><span class="lblEtiqueta">División:</span></td>
            <td class="tdCol-2">
                <select id="cmbDivision" class="cmbComboBox">
                    <option value="0">Seleccionar...</option>
                </select>
            </td>
            <td class="tdCol-3"><span class="lblEtiqueta">Tipo de moneda:</span></td>
            <td class="tdCol-4">
                <select id="cmbTipoMoneda" class="cmbComboBox">
                    <option value="0">Seleccionar...</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tdCol-1"><span class="lblEtiqueta">Agente:</span></td>
            <td class="tdCol-2">
                <select id="cmbAgente" class="cmbComboBox">
                    <option value="0">Seleccionar...</option>
                </select>
            </td>
            <td class="tdCol-3"><span class="lblEtiqueta">T.C. Factura:</span></td>
            <td class="tdCol-4"><span id="spanTipoCambioFactura">$ 1</span></td>
        </tr>
        <tr>
            <td class="tdCol-1"><span class="lblEtiqueta">Condición de pago:</span></td>
            <td class="tdCol-2">
                <select id="cmbCondicionPago" class="cmbComboBox">
                    <option value="0">Seleccionar...</option>
                </select>
            </td>
            <td class="tdCol-3"><span class="lblEtiqueta">Fecha de pago:</span></td>
            <td class="tdCol-4"><input id="txtFechaPago" class="txtFecha"/></td>
        </tr>        
        <tr>
            <td class="tdCol-1"><span class="lblEtiqueta">Almacén:</span></td>
            <td class="tdCol-2">
                <select id="cmbAlmacen" class="cmbComboBox">
                    <option value="0">Seleccionar...</option>
                </select>
            </td>
            <td class="tdCol-3"><span class="lblEtiqueta"></span></td>
            <td class="tdCol-4"></td>
        </tr>
    </table>
</div>