<div id="divFormaConsultarCuentaContable" idCuentaContable="${IdCuentaContable}">
    <div class="col-1">
       <table class="tblFormaCuentaContable-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col1"><span class="lblEtiqueta">Cuenta contable:</span></td>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col2"><span class="lblEtiqueta"></span></td>
            </tr>
            <tr>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col1">
                    <span>${CuentaContable}</span>            
                </td>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col2">
                   <span></span>
                </td>
            </tr>
            <tr>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col1"><span class="lblEtiqueta">Sucursal:</span></td>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col2"><span class="lblEtiqueta">Division:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col1">
                    <span>${Sucursal}</span>            
                </td>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col2">
                   <span>${Division}</span>
                </td>
            </tr>
            <tr>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col1"><span class="lblEtiqueta">Tipo de compra:</span></td>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col2"><span class="lblEtiqueta">Descripción</span></td>
            </tr>
            <tr>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col1">
                    <span>${TipoCompra}</span>
                </td>
                <td class="tblFormaCuentaContable-Izquierda-Renglon-2-Col2">
                    <span>${Descripcion}</span>
                </td>
            </tr>
        </table>
    </div>
</div>