<div id="divFormaAgregarOrganizacionIVA" idProveedor="${IdProveedor}">
    <div class="col-1">
        <table class="tblFormaOrganizacionIVA-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaOrganizacionIVA-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">IVA:</span></td>
                <td class="tblFormaOrganizacionIVA-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Asumir</span></td>
            </tr>
            <tr>
                <td class="tblFormaOrganizacionIVA-Izquierda-Renglon-1-Col1"><input id="txtIVA" value=""/></td>
                <td class="tblFormaOrganizacionIVA-Izquierda-Renglon-1-Col2"><input type="checkbox" id="chkEsPrincipal"/></td>
            </tr>
        </table>
    </div>
</div>