<div id="divFormaDescripcionPartida" idFacturaDetalle="${IdFacturaDetalle}">
    <table>
        <tbody>
            <tr>
                <td>
                    <span>Descripci&oacute;n:</span>
                </td>
            </tr>
			<tr>
				<td>
					<span>${Descripcion}</span>
				</td>
			</tr>
            <tr>
                <td>
                    <textarea id="txtDescripcionAgregada" style="width:100%;">${DescripcionAgregada}</textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>