<div id="divFormaEditarGrupoEmpresarial" idGrupoEmpresarial="${IdGrupoEmpresarial}">
    <div class="col-1">
       <table class="tblFormaGrupoEmpresarial-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaGrupoEmpresarial-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Grupo empresarial:</span></td>
            </tr>
            <tr>
                <td class="tblFormaGrupoEmpresarial-Izquierda-Renglon-1-Col1"><input type="text" id="txtGrupoEmpresarial" value="${GrupoEmpresarial}" /></td>
            </tr>
        </table>
    </div>
</div>