<div id="divFormaConsultarCuentaBancariaCliente" idCuentaBancariaCliente="${IdCuentaBancariaCliente}">
    <table class="tblFormaConsultarCuentaBancariaCliente"> 
        <tbody>
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Razón social:</span></td>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2">${RazonSocial}</td>
            </tr>
            <tr> 
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"></td> 
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2"></td>
            </tr>
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Banco:</span></td>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">No. cuenta de bancaria:</span></td>
            </tr>
            <tr>      
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1">                 
                    <span>${Banco}</span>                    
                </td>                              
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2">
                    <span>${CuentaBancariaCliente}</span>                    
                </td>
            </tr>            
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Moneda:</span></td>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Descripcion:</span></td> 
            </tr>
            <tr> 
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1">                 
                    ${TipoMoneda}
                </td> 
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col2">${Descripcion}</td>
            </tr>
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Método de pago:</span></td>                 
            </tr>
            <tr>
                <td class="tblFormaCuentaBancariaCliente-Izquierda-Renglon-1-Col1">                 
                    ${MetodoPago}
                </td> 
            </tr>
        </tbody>
    </table>
</div>