<div id="divFormaAgregarTipoGarantia">
    <table class="tblFormaAgregarTipoGarantia"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarTipoGarantia-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de garantía:</span>
                </td> 
                <td class="tblFormaAgregarTipoGarantia-Control-Col2"> 
                    <input type="text" id="txtTipoGarantia" class="txtCajaTexto" value="" />
                </td>
            </tr> 
        </tbody>
    </table>
</div>