<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span class="lblEtiqueta">Calle:</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1" colspan="2"><span>${Calle}</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span class="lblEtiqueta">No. exterior:</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"><span class="lblEtiqueta">No. interior:</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span>${NumeroExterior}</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"><span>${NumeroInterior}</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span class="lblEtiqueta">Colonia:</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1" colspan="2"><span>${Colonia}</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span class="lblEtiqueta">País:</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"><span class="lblEtiqueta">Estado:</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span>${Pais}</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"><span>${Estado}</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span class="lblEtiqueta">Municipio:</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"><span class="lblEtiqueta">Localidad:</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span>${Municipio}</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"><span>${Localidad}</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span class="lblEtiqueta">Código Postal:</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"><span class="lblEtiqueta">Alias:</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span>${CodigoPostal}</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"><span>${Alias}</span></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1"><span class="lblEtiqueta">Referencia:</span></td>
    <td class="tblFormaSucursal-Arriba-td-Col2"></td>
</tr>
<tr>
    <td class="tblFormaSucursal-Arriba-td-Col1" colspan="2">
        <textarea id="txtReferencia" readonly="readonly">${Referencia}</textarea>
    </td>
</tr>