<div id="divFormaEditarSubCuentaContable" idSubCuentaContable="${IdSubCuentaContable}" idCuentaContable="${IdCuentaContable}">
    <div class="col-1">
        <table class="tblFormaSubCuentaContable-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioFP">
                        Subcuenta contable:
                    </div>
                </td>
            </tr>
        </table>
       <table class="tblFormaSubCuentaContable-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Subcuenta contable:</span></td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1"><input type="text" id="txtSubCuentaContable" value="${SubCuentaContable}" /></td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Descripcion:</span></td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1" colspan="2"><textarea id="txtDescripcion">${Descripcion}</textarea></td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable:</span></td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtCuentaContable" value="${CuentaContable}"/></td>
            </tr>
        </table>
    </div>
</div>