<div id="divFormaEditarGrupo" idGrupo="${IdGrupo}">
    <table class="tblFormaEditarGrupo"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarGrupo-Etiqueta-Col1">
                    <span class="lblEtiqueta">Grupo:</span>
                </td> 
                <td class="tblFormaEditarGrupo-Control-Col2"> 
                    <input type="text" id="txtGrupo" class="txtCajaTexto" value="${Grupo}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>