<div id="divFormaConsultarGrupo" idGrupo="${IdGrupo}">
    <table class="tblFormaConsultarGrupo"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarGrupo-Etiqueta-Col1">
                    <span class="lblEtiqueta">Grupo:</span>
                </td> 
                <td class="tblFormaConsultarGrupo-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Grupo">${Grupo}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>