<div>
    <table>
        <tr>
            <td>Banco:</td>
            <td>Cuenta bancaria:</td>
        </tr>
        <tr>
            <td>
                <select id="cmbBanco" style="width:160px;">
                    <option value="">-Seleccionar-</option>
                    {{each Bancos}}
                    <option value="${Valor}">${Descripcion}</option>
                    {{/each}}
                </select>
            </td>
            <td>
                <select id="cmbCuentaBancaria" style="width:160px;">
                    <option value="">-Seleccionar-</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Tipo movimiento:</td>
            <td>Fecha movimiento:</td>
        </tr>
        <tr>
            <td>
                <select id="cmbTipoMovimiento" style="width:160px;">
                    <option value="">-Selecionar-</option>
                    {{each TipoMovimientos}}
                    <option value="${Valor}">${Descripcion}</option>
                    {{/each}}
                </select>
            </td>
            <td>
                <input type="text" id="txtFechaMovimiento" style="width:160px;" />
            </td>
        </tr>
        <tr>
            <td>Razón social:</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" id="txtRazonSocial" style="width:330px;" />
            </td>
        </tr>
        <tr>
            <td>Monto:</td>
            <td>Flujo de caja:</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="txtMonto" class="txtMonto" style="width:160px;" value="$0.00" />
            </td>
            <td>
                <select id="cmbFlujoCaja">
                    <option value="0">-Seleccionar-</option>
                    {{each FlujoCaja}}
                    <option value="${Valor}">${Descripcion}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>Moneda:</td>
            <td>Tipo de cambio</td>
        </tr>
        <tr>
            <td>
                <select id="cmbTipoMoneda" style="width:160px;">
                    <option value="0" TipoCambio="1">-Seleccionar-</option>
                    <option value="1" TipoCambio="1">Pesos</option>
                    <option value="2" TipoCambio="${Dolares}">Dolares</option>
                </select>
            </td>
            <td>
                <input type="text" id="txtTipoCambio" style="width:160px;text-align:right;" value="1" readonly/>
            </td>
        </tr>
        <tr>
            <td colspan="2">Referencia:</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" id="txtReferencia" style="width:330px" />
            </td>
        </tr>
    </table>
</div>