<div id="divFormaConsultarTipoDocumento" idTipoDocumento="${IdTipoDocumento}">
    <table class="tblFormaConsultarTipoDocumento"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTipoDocumento-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de documento:</span>
                </td> 
                <td class="tblFormaConsultarTipoDocumento-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TipoDocumento">${TipoDocumento}</span>
                </td>
                <td class="tblFormaConsultarTipoDocumento-Etiqueta-Col1">
                    <span class="lblEtiqueta">Comando:</span>
                </td> 
                <td class="tblFormaConsultarTipoDocumento-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TipoDocumento">${Comando}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>