<div id="divFormaEditarPais" idPais="${IdPais}">
    <div class="col-1">
        <table class="tblFormaPais-Izquierda-Renglon-1"> 
            <tr>
                <td class="tblFormaPais-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">País:</span></td>
                <td class="tblFormaPais-Izquierda-Renglon-1-Col2"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Nacionalidad:</span></td>
            </tr>
            <tr>
                <td class="tblFormaPais-Izquierda-Renglon-1-Col1">
                    <input type="text" id="txtPais" value="${Pais}" />
                </td>
                <td class="tblFormaPais-Izquierda-Renglon-1-Col2">
                    <input type="text" id="txtNacionalidad" value="${Nacionalidad}" />
                </td>
            </tr>
        </table>
    </div>
</div>