<div id="divFormaAgregarUnidadCompraVenta">
<table class="tblFormaAgregarUnidadCompraVenta"> 
    <tbody>
        <tr> 
            <td class="tblFormaAgregarUnidadCompraVenta-Etiqueta-Col1">
                <span class="lblEtiqueta">Unidad de compra venta:</span>
            </td> 
            <td class="tblFormaAgregarUnidadCompraVenta-Control-Col2"> 
                <input type="text" id="txtUnidadCompraVenta" class="txtCajaTexto" value="" />
            </td>
        </tr> 
    </tbody>
</table>
</div>