<div id="divFormaConsultarCotizacion" idCotizacion="${IdCotizacion}" idCliente="${IdCliente}" idEstatusCotizacion="${IdEstatusCotizacion}">
    <div class="col-1">
        <div class="wrapper">
            <table class="tblFormaCotizacion-Izquierda-Renglon-1" width="98%" border="0" cellspacing="2" cellpadding="2">
                <tbody>
                    <tr>
                        <td>
                            <div class="divTituloFormularioC">
                                <label>${TipoFormato}</label>
                                <label><span id="txtFolio">${Folio}</span></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="tblFormaCotizacion-Izquierda-Renglon-1" width="98%" border="0" cellspacing="2" cellpadding="2">
                <tbody>
                    <tr>
                        <td class="tblFormaConcepto-Izquierda-Renglon-1-Col1" colspan="5"><span class="lblEtiqueta">Razón social</span></td>
                    </tr>
                    <tr>
                        <td class="tblFormaConcepto-Izquierda-Renglon-1-Col1" colspan="5">${RazonSocial}</td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Contacto:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Puesto:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td> 
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Teléfono:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><span class="lblEtiqueta">Correo:</span></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1">${ContactoOrganizacion}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">${Puesto}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td> 
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4">${Telefono}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">${Correo}</td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Nivel Interes:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">IVA:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td> 
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Moneda:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><span class="lblEtiqueta">Fecha de Cotización:</span></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1">${NivelInteresCotizacion}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">${AutorizacionIVA}%</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td> 
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4">${TipoMoneda}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">${FechaAlta}</td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Cotizador:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Vigencia:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td> 
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Agente:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><span class="lblEtiqueta">Campaña:</span></td>
                    </tr>
                    
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1">${UsuarioCotizador}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">${ValidoHasta}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td> 
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4">${UsuarioAgente}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">${Campana}</td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Oportunidad:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta">División:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta"></span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><span class="lblEtiqueta"></span></td>
                    </tr>
                    
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">${Oportunidad}</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3">${Division}</td> 
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"></td>
                    </tr>
                    
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1" colspan="5"><span class="lblEtiqueta" title="">Nota:</span></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1" colspan="5">${Nota}</td>
                    </tr>
                    {{if MotivoDeclinar != ""}}
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1" colspan="5"><span class="lblEtiqueta" title="">Motivo declinar:</span></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1" colspan="5">${MotivoDeclinar}</td>
                    </tr>
                    {{/if}}
                </tbody>
             </table>    
            <div id="divGridCotizacionDetalle" class="divContGrid renglon-bottom">
                <div id="divContGridCotizacionDetalle">
                    <!--begin grid-->
                    <table id="grdCotizacionDetalleConsultar"></table>
                    <div id="pagCotizacionDetalleConsultar"></div>
                    <!-- end grid -->
                </div>
            </div>
        </div><!--end .wrapper-->   
        <div class="divFiltrosCotizacionTotales">
            <table class="tblFiltrosCotizacion-Totales">
                <tr>
                    <td width="100%">
                        {{if IdEstatusCotizacion === 1 || IdEstatusCotizacion === 2 || IdEstatusCotizacion === 3 || IdEstatusCotizacion === 6}}
                            <div id="divImprimir" class="cursorPointer" title="Imprimir" style="height:11px;">
                                <img src="../images/imprimir.png" style="width:25px;height:25px;"/>
                            </div>
                        {{/if}}
                    </td>
                    <td class="subtitulo"><span class="lblEtiqueta">Subtotal:</span></td>
                    <td class="totales"><span id="txtSubtotalDetalle">$${Subtotal}</span></td>
                </tr>
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Descuento:</span></td>
                    <td class="totales corteTotal"><span id="txtDescuentoDetalle">${descuento}</span></td>
                </tr>
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Subtotal con descuento:</span></td>
                    <td class="totales"><span id="txtSubtotalDescuentoDetalle">${SubtotalDescuento}</span></td>
                </tr> 
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">IVA tasa ${AutorizacionIVA}%:</span></td>
                    <td class="totales corteTotal"><span id="txtIVADetalle">$${IVA}</span></td>
                </tr>

                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Total:</span></td>
                    <td class="totales"><span id="txtTotalDetalle">$${Total}</span></td>
                </tr>
            </table>
                
            <table class="tblFiltrosCotizacion-TotalesLetra">
                <tbody>
                    <tr>
                        <td class=""><input id="txtTotalLetraDetalle" value="${CantidadTotalLetra}" readonly="readonly"></td>
                    </tr>       
                </tbody>
            </table>
        </div>
    </div><!--end .col-1 -->
</div><!--end #divFormaConsultarCotizacion-1 -->