<div id="divFormaConsultarEgresos" idCuentaBancaria="${IdCuentaBancaria}" idProveedor="${IdProveedor}" idEgresos="${IdEgresos}">
    <div class="col-1">
        <table class="tblFormaEgresos-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioSM">
                        Pago de documentos
                    </div>
                </td>
            </tr>
        </table>
        <table class="tblFormaEgresos-Izquierda-Renglon-1"> 
            <tr>
                <td class="tblFormaEgresos-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Cuenta:</span></td>
                
            </tr>
            <tr>
                <td class="tblFormaEgresos-Izquierda-Renglon-1-Col1">
                    ${CuentaBancaria}
                </td>
                <td class="tblFormaEgresos-Izquierda-Renglon-1-Col2">
                    
                </td>
                <td class="tblFormaEgresos-Izquierda-Renglon-1-Col3">
                    <span class="lblEtiqueta" id ="spanBanco">${Banco}
                    </span>
                </td>
                <td class="tblFormaEgresos-Izquierda-Renglon-1-Col4">
                    <span class="lblEtiqueta">
                        Saldo: 
                    </span>
                 </td>
                 <td class="tblFormaEgresos-Izquierda-Renglon-1-Col5">
                    <span class="lblEtiqueta" id="spanSaldo">${formato.moneda(Saldo,'$')}
                    </span>
                 </td>
                 
            </tr>
         </table>
         <table class="tblFormaEgresos-Izquierda-Renglon-3">
            <tr>
                <td class="tblFormaEgresos-Izquierda-Renglon-3-Col1"><span class="lblEtiqueta">Tipo de pago:</span></td>
                <td class="tblFormaEgresos-Izquierda-Renglon-3-Col2"><span class="lblEtiqueta">Fecha:</span></td>
                <td class="tblFormaEgresos-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta">Folio:</span></td>
                <td class="tblFormaEgresos-Izquierda-Renglon-3-Col4"><span class="lblEtiqueta">Importe:</span></td>
            </tr>
            <tr>
                <td class="tblFormaEgresos-Izquierda-Renglon-1-Col1">
                    ${MetodoPago}
                </td>
                <td class="tblFormaEgresos-Izquierda-Renglon-3-Col2">${FechaEmision}</td>
                <td class="tblFormaEgresos-Izquierda-Renglon-3-Col3">${Folio}</td>
                <td class="tblFormaEgresos-Izquierda-Renglon-3-Col4">${formato.moneda(Importe,'$')}</td>
            </tr>
            <tr>
                <td class="tblFormaConcepto-Izquierda-Renglon-3-Col1" colspan="4"><span class="lblEtiqueta">Proveedor</span></td>
            </tr>
            <tr>
                <td class="tblFormaConcepto-Izquierda-Renglon-1-Col1" colspan="5">${RazonSocial}</td>
            </tr>
        </table>
        <table class="tblFormaEgresos-Izquierda-Renglon-2">
            <tr>
                <td class="tblFormaEgresos-Izquierda-Renglon-2-Col1"><span class="lblEtiqueta">Referencia:</span></td>
                <td class="tblFormaEgresos-Izquierda-Renglon-2-Col2"><span class="lblEtiqueta">Concepto general:</span></td>
            </tr>
            <tr>
                <td class="tblFormaEgresos-Izquierda-Renglon-2-Col1">${Referencia}</td>
                <td class="tblFormaEgresos-Izquierda-Renglon-2-Col2">${ConceptoGeneral}</td>
            </tr>
        </table>
        <div id="tabAsignarDocumentos">
           <ul>
                <li><a href="#OtrosDatos">Forma de pago</a></li>
                <li><a href="#Documentos">Documentos</a></li>
            </ul>
            <div id="OtrosDatos">
                <table class="tblFormaEgresos-Izquierda-Renglon-3">
                    <tr>
                        <td class="tblFormaEgresos-Izquierda-Renglon-3-Col1"><span class="lblEtiqueta">Fecha de aplicación:</span></td>
                        <td class="tblFormaEgresos-Izquierda-Renglon-3-Col2"><span class="lblEtiqueta">Conciliado</span></td>
                        <td class="tblFormaEgresos-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta">Asociado</span></td>
                        <td class="tblFormaEgresos-Izquierda-Renglon-3-Col4"><span class="lblEtiqueta">Tipo de moneda</span></td>
                        
                    </tr>
                    <tr>
                        <td class="tblFormaEgresos-Izquierda-Renglon-3-Col1">${FechaAplicacion}</td>
                        <td class="tblFormaEgresos-Izquierda-Renglon-3-Col2">
                            <input type="checkbox" disabled="disabled" id="chkConciliado" {{if Conciliado === true}}checked="checked"{{/if}} />
                        </td>
                        <td class="tblFormaEgresos-Izquierda-Renglon-3-Col3">
                            <input type="checkbox" disabled="disabled" id="chkAsociado" {{if Asociado === true}}checked="checked"{{/if}} />
                        </td>
                        <td class="tblFormaEgresos-Izquierda-Renglon-3-Col4">
                            ${TipoMoneda}
                        </td>
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    
                </table>
            </div>
            <div id="Documentos">
                <div id="divGridMovimientosCobrosConsultar" class="divContGrid renglon-bottom">
                    <div id="divContGridMovimientosCobrosConsultar">
                        <!--INICIO GRID MOVIMIENTOS DE COBROS CONSULTAR-->
                        <table id="grdMovimientosCobrosConsultarEgresos"></table>
                        <div id="pagMovimientosCobrosConsultarEgresos"></div>
                        <!--FIN DE GRID MOVIMIENTOS DE COBROS CONSULTAR-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>