<div id="divFormaConsultarSubCuentaContable" idSubCuentaContable="${IdSubCuentaContable}">
<div class="col-1">
        <table class="tblFormaSubCuentaContable-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioFP">
                        Subcuenta contable:
                    </div>
                </td>
            </tr>
        </table>
       <table class="tblFormaSubCuentaContable-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Subcuenta contable:</span></td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col2">${SubCuentaContable}</td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Descripcion:</span></td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1" colspan="2">${Descripcion}</td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable:</span></td>
            </tr>
            <tr>
                <td class="tblFormaSubCuentaContable-Izquierda-Renglon-1-Col1" colspan="2"><span>${CuentaContable}</span></td>
            </tr>
        </table>
    </div>
</div>