<div id="divFormaConsultarTipoVenta" idTipoVenta="${IdTipoVenta}">
<table class="tblFormaConsultarTipoVenta"> 
    <tbody>
        <tr> 
            <td class="tblFormaConsultarTipoVenta-Etiqueta-Col1">
                <span class="lblEtiqueta">Tipo de venta:</span>
            </td> 
            <td class="tblFormaConsultarTipoVenta-Control-Col2"> 
                <span class="lblEtiquetaConsulta" title="TipoVenta">${TipoVenta}</span> 
            </td>
        </tr> 
    </tbody>
</table>
</div>