<div id="divFormaConsultarCostoCampana" idCostoCampana="${IdCostoCampana}">
    <table class="tblFormaConsultarCostoCampana"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarCostoCampana-Etiqueta-Col1">
                    <span class="lblEtiqueta">Costo campaña:</span>
                </td> 
                <td class="tblFormaConsultarCostoCampana-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="CostoCampana">${CostoCampana}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>