<div id="divFormaEditarTiempoEntrega" idTiempoEntrega="${IdTiempoEntrega}">
    <table class="tblFormaEditarTiempoEntrega"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarTiempoEntrega-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tiempo de entrega:</span>
                </td> 
                <td class="tblFormaEditarTiempoEntrega-Control-Col2"> 
                    <input type="text" id="txtTiempoEntrega" class="txtCajaTexto" value="${TiempoEntrega}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>