<div id="divFormaEditarUnidadCaracteristica" idUnidadCaracteristica="${IdUnidadCaracteristica}">
    <table class="tblFormaEditarUnidadCaracteristica"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarUnidadCaracteristica-Etiqueta-Col1">
                    <span class="lblEtiqueta">Unidad de característica:</span>
                </td> 
                <td class="tblFormaEditarUnidadCaracteristica-Control-Col2"> 
                    <input type="text" id="txtUnidadCaracteristica" class="txtCajaTexto" value="${UnidadCaracteristica}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>