<div id="divFormaConsultarContacto" idContactoOrganizacion="${IdContactoOrganizacion}">
    <table class="tblFormaConsultarContacto-Encabezado">
        <tr>
            <td colspan="2">
                <div class="divTituloFormularioSM">
                    Contacto
                </div>
            </td>
        </tr>
    </table>
    <table class="tblFormaConsultarContacto">
        <tr>
            <td colspan ="2" class="tblFormaConsultarContacto-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Nombre completo:</span></td>
        </tr>
        <tr>
            <td colspan ="2" class="tblFormaConsultarContacto-td-Col1"><span>${Nombre}</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarContacto-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Puesto:</span></td>
            <td class="tblFormaConsultarContacto-td-Col2"><span class="lblEtiqueta">Cumpleaños:</span></td>
        </tr>
       
        <tr>
            <td class="tblFormaConsultarContacto-td-Col1"><span>${Puesto}</span></td>
            <td class="tblFormaConsultarContacto-td-Col2"><span>${Cumpleanio}</span></td>
        </tr>
         
        <tr>
            <td colspan ="2" class="tblFormaConsultarContacto-td-Col1"><span class="lblEtiqueta">Notas:</span></td>
        </tr>
        <tr>
            <td colspan ="2" class="tblFormaConsultarContacto-td-Col1" ><textarea id="txtNotas" readonly="readonly">${Notas}</textarea></span></td>
        </tr>
    </table>
    <div class="divListaTelefonos">
        <div class="alignCenter">
            <table class="tblEncabezadoAgregarTelefono">
                <tr>
                    <td class="centerMe borderRight" style="width:385px; padding:3px 0px;">
                        <div id="divAgregarTelefono" title="Agregar teléfono">Teléfonos</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <ul id="ulTelefonos" class="ulListadoTelefonos">
        {{each Telefonos}}
            <li class='liTelefono'>${Telefono} (${Descripcion})</li>
        {{/each}}
        </ul>
    </div>
    <div class="divListaCorreos">
        <div class="alignCenter">
            <table class="tblEncabezadoAgregarCorreo">
                <tr>
                    <td class="centerMe borderRight" style="width:385px; padding:3px 0px;">
                        <div id="divAgregarCorreo" title="Agregar correo">Correos</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <ul id="ulCorreos" class="ulListadoCorreos">
        {{each Correos}}
            <li class='liCorreo'>${Correo}</li>
        {{/each}}
        </ul>
    </div>
</div>