<div id="divFormaConsultarDireccion" idDireccionOrganizacion="${IdDireccionOrganizacion}">
    <table class="tblFormaConsultarDireccion-Encabezado">
        <tr>
            <td colspan="2">
                <div class="divTituloFormularioSM">
                    Dirección
                </div>
            </td>
        </tr>
    </table>
    <table class="tblFormaConsultarDireccion">
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1" colspan="2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Descripción breve:</span></td>
            <td class="tblFormaConsultarDireccion-td-Col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Tipo de dirección:</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1" colspan="2"><span>${Descripcion}</span></td>
            <td class="tblFormaConsultarDireccion-td-Col3"><span>${TipoDireccion}</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Calle:</span></td>
            <td class="tblFormaConsultarDireccion-td-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Numero exterior:</span></td>
            <td class="tblFormaConsultarDireccion-td-Col3"><span class="lblEtiqueta">Numero interior:</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1"><span>${Calle}</span></td>
            <td class="tblFormaConsultarDireccion-td-Col2"><span>${NumeroExterior}</span></td>
            <td class="tblFormaConsultarDireccion-td-Col3"><span>${NumeroInterior}</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Colonia:</span></td>
            <td class="tblFormaConsultarDireccion-td-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Código Postal:</span></td>
            <td class="tblFormaConsultarDireccion-td-Col3"><span class="lblEtiqueta">Conmutador:</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1"><span>${Colonia}</span></td>
            <td class="tblFormaConsultarDireccion-td-Col2"><span>${CodigoPostal}</span></td>
            <td class="tblFormaConsultarDireccion-td-Col3"><span>${ConmutadorTelefono}</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>País:</span></td>
            <td class="tblFormaConsultarDireccion-td-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Estado:</span></td>
            <td class="tblFormaConsultarDireccion-td-Col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Municipio:</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1"><span>${Pais}</span></td>
            <td class="tblFormaConsultarDireccion-td-Col2"><span>${Estado}</span></td>
            <td class="tblFormaConsultarDireccion-td-Col3"><span>${Municipio}</span></td>
        </tr>        
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1" colspan="3"><span class="lblEtiqueta">Localidad:</span></td>
        </tr>
        <tr>
           <td class="tblFormaConsultarDireccion-td-Col1" colspan="3"><span>${Localidad}</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1" colspan="3"><span class="lblEtiqueta">Referencia:</span></td>
        </tr>
        <tr>
            <td class="tblFormaConsultarDireccion-td-Col1" colspan ="3"><span>${Referencia}</span></td>
        </tr>
    </table>
</div>
