<div id="divFormaConsultarRutaCFDIConsultar" IdSucursal="${IdSucursal}" idRutaCFDI="${IdRutaCFDI}">
<table class="tblFormaAgregarRutaCFDI"> 
    <tbody>
        <tr>
            <td class="tblFormaRutaCFDI-Izquierda-Renglon-1-Col1">
                <span class="lblEtiqueta">Tipo de ruta:</span>
            </td>
        </tr>
        <tr> 
            <td class="tblFormaRutaCFDI-Izquierda-Renglon-1-Col1"> 
                 <span>${TipoRuta}</span>
            </td>
        </tr> 
        <tr> 
            <td class="tblFormaRutaCFDI-Izquierda-Renglon-1-Col1">
                <span class="lblEtiqueta">Ruta CFDI:</span>
            </td>
        </tr>
        <tr> 
            <td class="tblFormaRutaCFDI-Izquierda-Renglon-1-Col1"> 
                 <span>${RutaCFDI}</span>
            </td>
        </tr> 
    </tbody>
</table>
</div>