<div id="divFormaAgregarCentroCosto" idCuentaContable="${IdCuentaContable}">
    <div class="col-1">
        <table class="tblFormaCentroCosto-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioFP">
                        Centro de costos:
                    </div>
                </td>
            </tr>
        </table>
       <table class="tblFormaCentroCosto-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaCentroCosto-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Centro de Costos:</span></td>
                <td class="tblFormaCentroCosto-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Monto:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCentroCosto-Izquierda-Renglon-1-Col1"><input type="text" id="txtCentroCosto" value="" /></td>
                <td class="tblFormaCentroCosto-Izquierda-Renglon-1-Col2">
                    <input type="text" id="txtMonto" value="" onkeypress="javascript:return ValidarNumeroPunto(event, this.value);"/>
                </td> 
            </tr>
            <tr>
                <td class="tblFormaCentroCosto-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Descripcion:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCentroCosto-Izquierda-Renglon-1-Col1" colspan="2"><textarea id="txtDescripcion"></textarea></td>
            </tr>
            <tr>
                <td class="tblFormaCentroCosto-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCentroCosto-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtCuentaContable" value=""/></td>
            </tr>
        </table>
    </div>
</div>