<div id="divFormaEditarTipoIndustria" idTipoIndustria="${IdTipoIndustria}">
    <table class="tblFormaEditarTipoIndustria"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarTipoIndustria-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de industria:</span>
                </td> 
                <td class="tblFormaEditarTipoIndustria-Control-Col2"> 
                    <input type="text" id="txtTipoIndustria" class="txtCajaTexto" value="${TipoIndustria}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>