<div id="divFormaEditarMarca" idMarca="${IdMarca}">
    <table class="tblFormaEditarMarca"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarMarca-Etiqueta-Col1">
                    <span class="lblEtiqueta">Marca:</span>
                </td> 
                <td class="tblFormaEditarMarca-Control-Col2"> 
                    <input type="text" id="txtMarca" class="txtCajaTexto" value="${Marca}" />
                </td>
                <td class="tblFormaEditarMarca-Etiqueta-Col3">
                    <span class="lblEtiqueta">Cuota compra:</span>
                </td> 
                <td class="tblFormaEditarMarca-Control-Col4"> 
                    <input type="text" id="txtCuotaCompra" class="txtCajaTexto" value="${CuotaCompra}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>