<div id="divFormaEditarSeriePago" IdSucursal="${IdSucursal}" idSeriePago="${IdSeriePago}">
    <table class="tblFormaAgregarSeriePago">
        <tbody>
            <tr>
                <td class="tblFormaSeriePago-Izquierda-Renglon-1-Col1">
                    <span class="lblEtiqueta">Serie de Complemento de Pago:</span>
                </td>
            </tr>
            <tr>
                <td class="tblFormaSeriePago-Izquierda-Renglon-1-Col1">
                    <input type="text" id="txtSeriePago" class="txtCajaTexto" value="${SeriePago}" />
                </td>
            </tr>
        </tbody>
    </table>
</div>