<div id="divFormaAgregarCondicionPago">
<table class="tblFormaAgregarCondicionPago"> 
    <tbody>
        <tr> 
            <td class="tblFormaAgregarCondicionPago-Etiqueta-Col1">
                <span class="lblEtiqueta">Condición de pago:</span>
            </td> 
            <td class="tblFormaAgregarCondicionPago-Control-Col2"> 
                <input type="text" id="txtCondicionPago" class="txtCajaTexto" value="" />
            </td>
        </tr> 
        <tr>
            <td class="tblFormaAgregarServicio-Etiqueta-Col11">
            <span class="lblEtiqueta">Número de días:</span>
            </td> 
            <td class="tblFormaAgregarServicio-Control-Col12"> 
                <input type="text" id="txtNumeroDias" class="txtNumericoChico" value="" onkeypress="javascript:return ValidarNumero(event, this.value);"/>
            </td>
        </tr>
    </tbody>
</table>
</div>