<div id="divFormaConsultarUnidadCompraVenta" idUnidadCompraVenta="${IdUnidadCompraVenta}">
<table class="tblFormaConsultarUnidadCompraVenta"> 
    <tbody>
        <tr> 
            <td class="tblFormaConsultarUnidadCompraVenta-Etiqueta-Col1">
                <span class="lblEtiqueta">Unidad de compra venta:</span>
            </td> 
            <td class="tblFormaConsultarUnidadCompraVenta-Control-Col2"> 
                <span class="lblEtiquetaConsulta" title="UnidadCompraVenta">${UnidadCompraVenta}</span> 
            </td>
        </tr> 
    </tbody>
</table>
</div>