<div id="divFormaAgregarMarca">
    <table class="tblFormaAgregarMarca"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarMarca-Etiqueta-Col1">
                    <span class="lblEtiqueta">Marca:</span>
                </td> 
                <td class="tblFormaAgregarMarca-Control-Col2"> 
                    <input type="text" id="txtMarca" class="txtCajaTexto" value="" />
                </td>                
                <td class="tblFormaAgregarMarca-Etiqueta-Col3">
                    <span class="lblEtiqueta">Cuota compra:</span>
                </td> 
                <td class="tblFormaAgregarMarca-Control-Col4"> 
                    <input type="text" id="txtCuotaCompra" class="txtCajaTexto" value="" />
                </td>
            </tr> 
        </tbody>
    </table>
</div>