<html>
<head>
	
<style type="text/css">      
  
   
    .DatosCliente 
    {
        width:100%; 
        margin-left: auto;  
        margin-right: auto;	        
        padding: 2px 2px 2px 12px;
        
    }
    
    #tblImprimirNotaVenta_Informacion  
    {
        color:#295067;
        font-size:12px;
    }
    
    
    #tblImprimirNotaVenta_Informacion .tdLetraChica  
    {

        background-color:Black; 
        color:White;
        font-size:6px;
        text-align: justify;
        padding:5px;
        width 20% !important;
    }
    
    #tblImprimirNotaVenta_Informacion .tdLetraGrande  
    {
        text-align:justify !important;
        font-size:12px; 
        width 60% !important;
    }
    #tblImprimirNotaVenta_DatosReceptor  
    {
        width:100%; 
        margin-left: auto;  
        margin-right: auto;
        border:1px solid;
        border-width:0 0 1px 1px;
        
        
    }
    
    
    .tituloEncabezado  
    {
	    padding: 2px 2px 2px 12px;
	    margin:0;	    
	    text-align:center;
	    font-size:12px;	    
    }
    
    .tituloEncabezadoSaldo  
    {
	    padding: 2px 2px 2px 12px;
	    margin:0;
	    font-size:12px;	    
    }
    .renglonClaro {
	    border-bottom: #AAC2CE 1px solid;
	    color:Gray;
	    padding: 2px 2px 2px 12px;
    }
    .renglonOscuro {
	    border-bottom: #AAC2CE 1px solid;
	    color: #295067;
	    padding: 2px 2px 2px 12px;
	    /*background-color: #F2F2F2;*/
    }
    
    .renglonConceptos
    { 
    	font-family: Arial, Helvetica, sans-serif; 
        padding: 2px 2px 2px 12px;
        font-size:12px;
        border-right:1px solid;
    }
    
    .renglonEncabezadoConcepto
    { 	
        padding: 2px 2px 2px 12px;
        font-size:12px;
        background-color:#0404B4;
        color:White;
        border:1px solid;
        border-width:1px 1px 1px 0;
    }
    
    .SaldoInicial
    { 	
        padding: 2px 2px 2px 12px;
        font-size:12px;
        background-color:#D8D8D8;
        color:Black;
        border:1px solid;
        border-width:1px 1px 1px 1px;
    }
    
    .colorNaranja 
    {
    	color:#B6571E;
    }
    
    .totales {
	    color:Gray;
	    padding: 2px 2px 2px 12px;
    }
    .Folio
    {
        font-size:	12px;
    }
    

    

</style>
</head>
<body>
    <table id="tblReporte" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
            
                <table>
                    <tr>
                        <td height="5px">&nbsp;</td>            
                    </tr> 
                </table>               
                <div class="divAreaBotonesDialog">
                    <input type="button" id="btnImprimirEstadoCuentaArriba" value="Imprimir" class="buttonLTR" />
                    <input type="button" id="btnExportarArriba" value="Exportar" class="buttonLTR" />
                </div>
                <table id ="tblDatosEncabezado" width="100%" cellpadding="0" cellspacing="0">                    
                    <tr>
                        <td style="color:Gray;padding: 2px 2px 2px 12px;">Moneda:</td>
                        <td style="color:Gray;padding: 2px 2px 2px 12px;">${TIPOMONEDA}</td>
                        
                        <td colspan="19" style="color:Gray;padding: 2px 2px 2px 12px;" align="right">Fecha:</td>
                        <td style="color:Gray;padding: 2px 2px 2px 12px;">${FECHA}</td>
                    </tr>   
                   
                </table>
                
                <table>
                    <tr>
                        <td height="5px">&nbsp;</td>            
                    </tr> 
                </table>
                
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                
                <tr>
                    <td style="font-family:Calibri; padding:2px 2px 2px 12px; margin:0; text-align:center; font-size:16px; font-weight:bold;" colspan="22">${RAZONSOCIALRECEPTOR}</td>
                </tr>
                <tr><td style="font-family:Calibri; padding:2px 2px 2px 12px; margin:0; text-align:center; font-size:16px; font-weight:bold;" colspan="22">${ESTADOCUENTA}</td></tr>    	
                <tr><td style="font-family:Calibri; padding:2px 2px 2px 12px; margin:0; text-align:center; font-size:16px; font-weight:bold;" colspan="22">Del: ${FECHAINICIAL} Al: ${FECHAFINAL}</td></tr>   

                <tr>
                    <td width="20%" style="font-family:Calibri; padding:2px 2px 2px 12px; margin:0; font-size:16px; font-weight:bold;" colspan="2">Cliente:</td>
                    <td width="75%" style="font-family:Calibri; padding:2px 2px 2px 12px; margin:0; font-size:16px; font-weight:bold;" colspan="20">${CLIENTE}</td>
                </tr>
                <tr>
                    <td width="20%" style="font-family:Calibri; padding:2px 2px 2px 12px; margin:0; font-size:16px; font-weight:bold;" colspan="2">Nombre:</td>
                    <td width="75%" style="font-family:Calibri; padding:2px 2px 2px 12px; margin:0; font-size:16px; font-weight:bold;" colspan="20">${NOMBRE}</td>
                </tr>
                <tr>       
                    <td style="border-left:0px solid; border-top:0px solid; border-right:1px solid; border-bottom:0px solid; font-family:Calibri; font-weight:bold;" colspan="6">&nbsp;</td>
                    <td style="padding:2px 2px 2px 12px;font-size:12px; background-color:#D8D8D8; color:Black; border:1px solid; border-width:1px 1px 1px 1px;font-family:Calibri; font-weight:bold;" colspan="2">Saldo inicial</td>
                    <td style="padding:2px 2px 2px 12px;font-size:12px; background-color:#D8D8D8; color:Black; border:1px solid; border-width:1px 1px 1px 1px;" colspan="2">${SALDOINICIAL}</td>
                </tr>
                </table> 
                
                
                <table style=" width:100%; margin-left:auto; margin-right:auto; border-left:1px solid; border-top:1px solid; border-right:1px solid; border-bottom:1px solid;" id="tblConceptos" name="tblConceptos" cellpadding="0" cellspacing="0" rules="rows">
                    <tr style="text-align:center;">
                    
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Fecha</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Serie</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Folio</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Concepto</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Tipo de Nota</td>
                        <!--<td width="8%" class="renglonEncabezadoConcepto">Parcial</td>-->
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Cargos</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Abonos</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Saldo</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Vence</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Moneda</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Tipo Cambio</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Referencia</td>
                        <td colspan="2" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 0; font-family:Calibri; font-weight:bold;">Montos aplicados</td>
                    </tr>
                    {{each Movimientos}}    
                    <tr>       
                       
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="center">${$value.FECHAMOV}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="left">${$value.SERIE}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="left">${$value.FOLIO}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="left">${$value.CONCEPTO}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="left">${$value.TIPONOTACREDITO}</td>
                        <!--<td class="renglonConceptos" align="left">{PARCIAL}</td>-->
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="right">${$value.CARGOS}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="right">${$value.ABONOS}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="right">${$value.SALDODOC}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="center">${$value.FECHAVEN}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="left">${$value.MONEDA}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="right">${$value.TC}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="left">${$value.REFERENCIA}</td>
                        <td colspan="2" style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="left">${$value.MONTOAPLICADO}</td>
                    </tr>
                    {{/each}}
                          
	            </table>
	            <!--<table width="100%" cellpadding="0" cellspacing="0" rules="rows" border="1">
	                <tr>-->
                        <!--<td width="8%" class="renglonConceptos" align="center">&nbsp;</td>
                        <td width="8%" class="renglonConceptos" align="left">&nbsp;</td>
                        <td width="8%" class="renglonConceptos" align="right">&nbsp;</td>
                        <td width="20%" class="renglonConceptos" align="left">&nbsp;</td>-->
                        <!--<td width="8%" class="renglonConceptos" align="left">&nbsp;</td>-->
                        <!--<td width="52%" class="renglonConceptos" align="right">{SUMACARGOS}</td>
                        <td width="8%" class="renglonConceptos" align="right">{SUMAABONOS}</td>
                        <td width="8%" class="renglonConceptos" align="right">{SUMASALDO}</td>
                        <td width="8%" class="renglonConceptos" align="left">&nbsp;</td>
                        <td width="8%" class="renglonConceptos" align="left">&nbsp;</td>
                        <td width="8%" class="renglonConceptos" align="left">&nbsp;</td>
                        <td width="8%" class="renglonConceptos" align="left">&nbsp;</td>-->
                    <!--</tr>
                </table>-->
                <table id="tblEspacios">
                    <tr>
                        <td height="5px">&nbsp;</td>            
                    </tr> 
                </table>
	            <table width="100%" style=" width:40%; margin-left:auto; margin-right:auto; border-left:0px solid; border-top:0px solid; border-right:1px solid; border-bottom:1px solid;" id="tblResumen" cellpadding="0" cellspacing="0" rules="rows">
                    <tr>
                        <td colspan="6" style="border-left:0px solid; border-top:0px solid; border-right:1px solid; border-bottom:0px solid;">&nbsp;</td>
                        <td height="5px" style="background-color:#0404B4; padding:2px 2px 2px 12px; font-size:12px; color:White; border:1px solid; border-width:1px 1px 1px 1; font-family:Calibri; font-weight:bold;" colspan="4" align="left">Resumen</td>
                                  
                    </tr>        
                    <tr>
                         <td colspan="6" style="border-left:0px solid; border-top:0px solid; border-right:1px solid; border-bottom:0px solid;">&nbsp;</td>
                        <td style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid; border-left:1px solid; font-family:Calibri; font-weight:bold;" align="right" colspan="2"> Saldo inicial:</td>
                        <td style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="right" colspan="2">${SALDOINICIAL}</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border-left:0px solid; border-top:0px solid; border-right:1px solid; border-bottom:0px solid;">&nbsp;</td>
                        <td style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid; border-left:1px solid; font-family:Calibri; font-weight:bold;" align="right" colspan="2"> (+) Cargos:</td>
                        <td style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="right" colspan="2">${SUMACARGOS}</td>
                    </tr>
                    
                    <tr>
                        <td colspan="6" style="border-left:0px solid; border-top:0px solid; border-right:1px solid; border-bottom:0px solid;">&nbsp;</td>
                        <td style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid; border-left:1px solid; font-family:Calibri; font-weight:bold;" align="right" colspan="2"> (-) Abonos:</td>
                        <td style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid;" align="right" colspan="2">${SUMAABONOS}</td>
                    </tr> 
                    
                    <tr>
                        <td colspan="6" style="border-left:0px solid; border-top:0px solid; border-right:1px solid; border-bottom:0px solid;">&nbsp;</td>
                        <td style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid; border-left:1px solid; border-bottom:1px solid; font-family:Calibri; font-weight:bold;" align="right" colspan="2"> (=) Saldo final:</td>
                        <td style="font-family:Calibri; padding:2px 2px 2px 12px; font-size:12px; border-right:1px solid; border-left:1px solid; border-bottom:1px solid;" align="right" colspan="2">${SALDOFINAL}</td>
                    </tr>         
	            </table>
	            
	            <table>
                    <tr>
                        <td height="5px">&nbsp;</td>            
                    </tr> 
                </table>
                
                <div class="divAreaBotonesDialog">
                    <input type="button" id="btnImprimirEstadoCuenta" value="Imprimir" class="buttonLTR" />
                    <input type="button" id="btnExportar" value="Exportar" class="buttonLTR" />
                </div>
	            
	        </td>
	    </tr>
	</table>
	
</body>
</html>
