<div id="divFormaEditarCotizacion" idCotizacion="${IdCotizacion}" idCliente="${IdCliente}" idProducto="${IdProducto}" idServicio="${IdServicio}" idTipoMonedaOrigen="${IdTipoMoneda}" idAutorizacionTipoCambio="${IdAutorizacionTipoCambio}" idAutorizacionIVA="${IdAutorizacionIVA}" claveAutorizacion= "${ClaveAutorizacion}" claveAutorizacionIVA= "${ClaveAutorizacion}">
    <div class="col-1">
        <div class="wrapper">
            <table class="tblFormaCotizacion-Izquierda-Renglon-1" width="98%" border="0" cellspacing="2" cellpadding="2">
                <tbody>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1 titulo" colspan="5">
                            <div class="divTituloFormularioSM">                          
                                Encabezado
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">No. Cotización:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"><input id="txtFolio" type="text" value="${Folio}" placeholder="0" disabled="disabled"  /></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta"></span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Fecha:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><input type="text" id="txtFecha" value="${FechaAlta}" disabled="disabled" /></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Razón social:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2" colspan="4"><input id="txtRazonSocial" type="text" value="${RazonSocial}" placeholder="Buscar razón social"  /></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Oportunidad:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">
                            <select id="cmbOportunidad">
                                <option value="0">Elegir una opción...</option>
                                {{each Oportunidades}}
                                <option value="${$value.Valor}"{{if $value.Valor == IdOportunidad}} selected{{/if}}>${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                            
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3">&nbsp;</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Nivel Interés:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">
                            <select id="cmbNivelInteresCotizacion">
                                <option value="0">Elegir una opción...</option>
                                {{each NivelInteres}}
                                <option value="${$value.Valor}"{{if $value.Selected === 1}} selected{{/if}}>${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><input type="text" id="txtOportunidad" value="${Oportunidad}" style="display:none;" /></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Contacto:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">
        	                <select id="cmbContactoOrganizacion" class="cmbComboBox">
                                <option value="0">Eligir una opción...</option>
                                {{each Contactos}}
                                    <option value="${$value.IdContactoOrganizacion}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Nombre}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3">&nbsp;</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Agente:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">
        	                <select id="cmbUsuarioAgente" class="cmbComboBox">
                                <option value="0">Elegir una opcion...</option>
                                {{each UsuarioAgentes}}
                                    <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Moneda:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">
        	                <select id="cmbTipoMoneda" class="cmbComboBox" onchange="">
                                <option value="0">Eligir una opción...</option>
                                {{each TipoMonedas}}
                                    <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3">&nbsp;</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Vigencia:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><input id="txtValidoHasta" value="${ValidoHasta}"/> </td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">IVA:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">
        	                <span class="lblEtiqueta" id="IVAActual">${AutorizacionIVA}</span>%                        
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3">&nbsp;</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Campaña:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">
        	                <select id="cmbCampana" class="cmbComboBox" onchange="">
                                <option value="0">Eligir una opción...</option>
                                {{each Campanas}}
                                    <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">División:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">
        	                <select id="cmbDivision" class="cmbComboBox">
                                <option value="0">Eligir una opción...</option>
                                {{each Divisiones}}
                                    <option value="${$value.IdDivision}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Division}</option>
                                {{/each}}
                            </select> 
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3">&nbsp;</td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">
        	                
                        </td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Nota:</span></td> 
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2" colspan="4"><textarea id="txtNota" cols="80" rows="3">${Nota}</textarea></td>                    
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1 titulo" colspan="5">
                            <div class="divTituloFormularioSM">                          
                                Producto/Servicio:                      
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"></td>
                    </tr>
                    <tr>                       
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1" colspan="2">                          
                            <div id="divProductoServicio">
                                <input type="radio" id="ProductoServicio" name="ProductoServicio" value="1" checked = "checked">Producto
                                <input type="radio" id="ProductoServicio" name="ProductoServicio" value="2">Servicio
                            </div>                    
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"> </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4" colspan="2">
                            <span class="lblEtiqueta">Precio origen: </span><span id="spanPrecioOrigen"> $0.00 </span><span id="spanMonedaOrigen"> </span>
                        </td>                   
                    </tr>                  
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1" colspan="2">
        	                <input id="txtClaveProducto" type="text" value="" placeholder="Clave producto*" />
        	                <input id="txtClaveServicio" type="text" value="" placeholder="Clave servicio*" />
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4" colspan="2">
        	                <input id="txtDescripcionProducto" type="text" value="" placeholder="Descripción producto*" />
                            <input id="txtDescripcionServicio" type="text" value="" placeholder="Descripción servicio*" />
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Tipo de cambio:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">
        	                 <div id="divTipoCambioActual" title="Tipo Cambio Actual">
        	                    <span class="lblEtiqueta" id="TipoCambioActual">$ 1.00</span>
        	                </div>                        
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="EsServicio" class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Ejecuta servicio:</span></td>
                        <td class="EsServicio" class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">
                            <select id="cmbSucursales" class="cmbComboBox" onchange="">
                                <option value="0">Eligir una opción...</option>
                                {{each Sucursales}}
                                    <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Precio:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2">
        	                <input id="txtPrecio" type="text" value="" />
                            <select id="cmbTipoMonedaOrigen" class="cmbComboBox" onchange="" disabled="disabled">
                                <option value="0">Eligir una opción...</option>
                                {{each TipoMonedas}}
                                    <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Descuento:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">
        	                <select id="cmbDescuento" class="cmbComboBox" onchange="">
                                <option value="0">Eligir una opción...</option>                                
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Cantidad:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"><input id="txtCantidad" type="text" value="" /></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Valor de descuento:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><input id="txtValorDescuento" type="text" value="0%" disabled="disabled" /></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Valor de medida:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5"><input id="txtValorMedida" type="text" value="" disabled="disabled" /></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Unidad com./vta.:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"><input id="txtUnidadCompraVenta" type="text" value="" disabled="disabled" /></td>
                    </tr>                    
                    <tr class="NoEsServicio">
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"><span id="lblExistencia" class="lblEtiqueta">Existencia:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"><input id="txtExistencia" type="text" value="" disabled="disabled" /></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"><span id="lblTiempoEntrega" class="spanObligatorio">*</span><span id="lblTiempoEntrega" class="lblEtiqueta">Tiempo de entrega:</span></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">
        	                <select id="cmbTiempoEntrega" class="cmbComboBox" onchange="">
                                <option value="0">Eligir una opción...</option>
                                {{each TiempoEntregas}}
                                    <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>                
                    
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1" colspan="5">
                            <textarea id="txtDescripcion" cols="80" rows="5" placeholder="Descripción" onKeyDown="cuenta()" onKeyUp="cuenta()">${Descripcion}</textarea>
                        </td>                    
                    </tr>
                    <tr>  
                        <td>
                            Cantidad disponible: <span id="cantidadDescripcion">1000</span>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col1"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col2"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col3"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col4"></td>
                        <td class="tblFormaCotizacion-Izquierda-Renglon-1-Col5">
                            <div class="divAreaBotonesDialog">
                                <input type="button" id="btnBajarPartida" value="+ Agregar Detalle" class="buttonLTR" style="text:align:right;">
                            </div>
                        </td>
                    </tr>                     
                </tbody>                    
            </table> 
            <div id="divGridCotizacionDetalle" class="divContGrid renglon-bottom">
                <div id="divContGridCotizacionDetalle">
                    <table id="grdCotizacionDetalleEditar"></table>
                    <div id="pagCotizacionDetalleEditar"></div>
                </div>
            </div>
        </div>
        <div class="divFiltrosCotizacionTotales">
            <table class="tblFiltrosCotizacion-Totales">                
                <tr>
                    <td width="100%">
                        {{if IdEstatusCotizacion === 2 || IdEstatusCotizacion === 3}}
                            <div id="divImprimir" class="cursorPointer" title="Imprimir" style="height:11px;">
                                <img src="../images/imprimir.png" style="width:25px;height:25px;"/>
                            </div>
                        {{/if}}
                    </td>
                    <td class="subtitulo"><span class="lblEtiqueta">Subtotal:</span></td>
                    <td class="totales"><span id="txtSubtotalDetalle">$${Subtotal}</span></td>
                </tr>
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Descuento:</span></td>
                    <td class="totales corteTotal"><span id="txtDescuentoDetalle">$${descuento}</span></td>
                </tr>
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Subtotal con descuento:</span></td>
                    <td class="totales"><span id="txtSubtotalDescuentoDetalle">$${Subtotal}</span></td>
                </tr>
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">IVA tasa ${AutorizacionIVA}%:</span></td>
                    <td class="totales corteTotal"><span id="txtIVADetalle">$${IVA}</span></td>
                </tr>

                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Total:</span></td>
                    <td class="totales"><span id="txtTotalDetalle">$${Total}</span></td>
                </tr>
            </table>
            <table class="tblFiltrosCotizacion-TotalesLetra">
                <tbody>
                    <tr>
                        <td class=""><input id="txtTotalLetraDetalle" value="${CantidadTotalLetra}" readonly="readonly"></td>
                    </tr>       
                </tbody>
            </table>
        </div> 
    </div>
    <div class="col-2">
        <table class="tblFormaCotizacion-Derecha">
            <tr>
                <td class="tblFormaCotizacion-Derecha-td">
                    <div class="divTituloFormularioSM">
                        Catálogos
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tblFormaCotizacion-Derecha-td">
                    <div class="divAreaBotonesDialogCatalogos">
                        <input type="button" value="+ Cliente" class="buttonGestorCatalogos obtenerGestor" gestor="Cliente"/>
                        <input type="button" value="+ Campaña" class="buttonGestorCatalogos obtenerGestor" gestor="Campana"/>
                        <input type="button" value="+ Producto" class="buttonGestorCatalogos obtenerGestor" gestor="Producto"/>
                        <input type="button" value="+ Servicio" class="buttonGestorCatalogos obtenerGestor" gestor="Servicio"/>
                        <input type="button" value="+ Tiempo de entrega" class="buttonGestorCatalogos obtenerGestor" gestor="TiempoEntrega"/>
                        <input type="button" value="+ Oportunidad" class="buttonGestorCatalogos obtenerGestor" gestor="Oportunidad" />
                    </div>
                </td>
            </tr>
        </table>
    </div>                                    
</div>