<div id="divFormaConsultarIVA" idIVA="${IdIVA}">
    <div class="col-1">
       <table class="tblFormaIVA-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">IVA:</span></td>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Descripción:</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col2">${IVA} %</td>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col2">${DescripcionIVA}</td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable (IVA Acreedor):</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2">${ClaveCuentaContable}</td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable (IVA Acreedor Pagado):</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2">${CuentaContableAcreditablePagado}</td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable (IVA Trasladado):</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2">${CuentaContableTrasladado}</td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable (IVA Trasladado Pagado):</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2">${CuentaContableTrasladadoPagado}</td>
            </tr>
        </table>
    </div>
</div>