<div id="divFormaEditarIngresosNoDepositados" idCuentaBancaria="${IdCuentaBancaria}" idCliente="${IdCliente}" idIngresosNoDepositados="${IdIngresosNoDepositados}">
    <div class="col-1">
        <table class="tblFormaIngresosNoDepositados-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioSM">
                        Cobro de documentos
                    </div>
                </td>
            </tr>
        </table>
        <table class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1"> 
            <tr>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Cuenta:</span></td>
            </tr>
            <tr>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col1">
                    <input type="text" id="txtCuenta" class="txtCajaTexto" value="${CuentaBancaria}" disabled ="disabled"/>
                </td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col2">
                </td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col3">
                    ${Descripcion} (${CuentaBancaria}) ${Banco} ${TipoMoneda}
                </td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col4">
                    <span class="lblEtiqueta" {{if PuedeVerSaldo === false}}style="display:none;"{{/if}}>
                        Saldo: 
                    </span>
                 </td>
                 <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col5">
                    <span class="lblEtiqueta" id="spanSaldo" {{if PuedeVerSaldo === false}}style="display:none;"{{/if}}>${formato.moneda(Saldo,'$')}</span>
                 </td>       
            </tr>
         </table>
         <table class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3">
            <tr>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Tipo de pago:</span></td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Fecha de captura:</span></td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Folio:</span></td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col4"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Importe:</span></td>
            </tr>
            <tr>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col1">
                    <select id="cmbMetodoPago" class="cmbComboBox" disabled="disabled">
                        <option value="0">Eligir una opción...</option>
                        {{each MetodoPagos}}
                            <option value="${$value.IdMetodoPago}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.MetodoPago}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col2"><input type="text" id="txtFecha" class="txtFecha" value="${FechaEmision}" disabled="disabled"/></td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col3"><input type="text" id="txtFolio" onkeypress="javascript:return ValidarNumeroPunto(event, this.value);" value="${Folio}" disabled ="disabled"/></td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col4"><input type="text" id="txtImporte" onkeypress="javascript:return ValidarNumeroPunto(event, this.value);" value="${formato.moneda(Monto,'$')}" {{if Importe != Disponible || ImporteDolares != DisponibleDolares}}disabled="disabled"{{/if}}/></td>
            </tr>
            <tr>
                <td class="tblFormaConcepto-Izquierda-Renglon-3-Col1" colspan="4"><span class="lblEtiqueta">Cliente</span></td>
            </tr>
            <tr>
                <td class="tblFormaConcepto-Izquierda-Renglon-1-Col1" colspan="5"><input type="text" id="txtRazonSocial" value="${RazonSocial}" /></td>
            </tr>
        </table>
        <table class="tblFormaIngresosNoDepositados-Izquierda-Renglon-2">
            <tr>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-2-Col1"><span class="lblEtiqueta">Referencia:</span></td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-2-Col2"><span class="lblEtiqueta">Concepto general:</span></td>
            </tr>
            <tr>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-2-Col1"><input type="text" id="txtReferencia" value="${Referencia}" /></td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-2-Col2"><textarea id="txtConceptoGeneral">${ConceptoGeneral}</textarea></td>
            </tr>
            
        </table>               
        <div id="tabAsignarDocumentosEditar">
            <div class="divAreaBotonesDialog" style="margin-left:580px;">
                <input type="button" id="btnObtenerFormaAsociarDocumentos" value="+ Asocicación de documentos" class="buttonLTR"/>
            </div>
            <ul>
                <li><a href="#OtrosDatos">Forma de pago</a></li>
                <li><a href="#Documentos">Documentos</a></li>
            </ul>
            
            <div id="OtrosDatos">
                <table class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3">
                    <tr>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Fecha de pago:</span></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Fecha de depósito:</span></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta">Depósitado</span></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col4"><span class="lblEtiqueta">Fecha depositado</span></td>
                    </tr>
                    
                    <tr>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col1"><input type="text" id="txtFechaPago" class"txtFecha" value="${FechaPago}" disabled="disabled"/></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col1"><input type="text" id="txtFechaDeposito" class"txtFecha" value="${FechaDeposito}" disabled="disabled"/></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col2"><input type="checkbox" disabled="disabled" id="chkDepositado" {{if Depositado === true}}checked="checked"{{/if}} /></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col4"><input type="text" id="txtFechaDepositado" class"txtFecha" value="${FechaDepositado}" disabled="disabled"/></td>
                        
                    </tr>
                    <tr>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col1"><span class="lblEtiqueta">Asociado</span></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col2"><span class="lblEtiqueta">Tipo de moneda</span></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta">T.C</span></td>
                        
                    </tr>
                    <tr>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col1"><input type="checkbox" disabled="disabled" id="chkAsociado" {{if Asociado === true}}checked="checked"{{/if}} /></td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col2">
                            <select id="cmbTipoMoneda" class="cmbComboBox" disabled="disabled">
                                <option value="0">Eligir una opción...</option>
                                {{each TipoMonedas}}
                                    <option value="${$value.IdTipoMoneda}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.TipoMoneda}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-3-Col3">
                            <input id="txtTipoCambio" style="width:45px; text-align:right;" value="${TipoCambio}" onkeypress="javascript:return ValidarNumeroPunto(event, this.value);" {{if puedeEditarTipoCambioIngresosNoDepositados === 0 || Importe != Disponible || ImporteDolares != DisponibleDolares}}disabled="disabled"{{/if}}/>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
            <div id="Documentos">
                <div id="divGridMovimientosCobrosEditar" class="divContGrid renglon-bottom">
                    <div id="divContGridMovimientosCobrosEditar">
                        <!--INICIO GRID MOVIMIENTOS DE COBROS EDITAR-->
                        <table id="grdMovimientosCobrosEditar"></table>
                        <div id="pagMovimientosCobrosEditar"></div>
                        <!--FIN DE GRID MOVIMIENTOS DE COBROS EDITAR-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>