<div id="divFormaAgregarImpresionDocumento">
    <div class="col-1">
        <table class="tblFormaImpresionDocumento-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioFP">
                        Impresión documento:
                    </div>
                </td>
            </tr>
        </table>
       <table class="tblFormaImpresionDocumento-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaImpresionDocumento-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Impresión documento:</span></td>
            </tr>
            <tr>
                <td class="tblFormaImpresionDocumento-Izquierda-Renglon-1-Col1"><input type="text" id="txtImpresionDocumento" value="" /></td>
            </tr>
            <tr>
                <td class="tblFormaImpresionDocumento-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Procedimiento:</span></td>
            </tr>
            <tr>
                <td class="tblFormaImpresionDocumento-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtProcedimiento" value="" /></td>
            </tr>
        </table>
    </div>
</div>