<div id="divFormaConsultarCategoria" idCategoria="${IdCategoria}">
    <table class="tblFormaConsultarCategoria"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarCategoria-Etiqueta-Col1">
                    <span class="lblEtiqueta">Grupo:</span>
                </td> 
                <td class="tblFormaConsultarCategoria-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Grupo">${Grupo}</span>
                </td> 
                <td class="tblFormaConsultarCategoria-Etiqueta-Col1">
                    <span class="lblEtiqueta">Categoría:</span>
                </td> 
                <td class="tblFormaConsultarCategoria-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Categoria">${Categoria}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>