<div id="divFormaConsultarTipoCambioDiarioOficial" idTipoCambioDiarioOficial="${IdTipoCambioDiarioOficial}">
    <table class="tblFormaConsultarTipoCambioDiarioOficial"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTipoCambioDiarioOficial-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de cambio diario oficial:</span>
                </td>
                <td class="tblFormaConsultarTipoCambioDiarioOficial-Etiqueta-Col1">
                    <span class="lblEtiqueta">Moneda origen:</span>
                </td> 
                <td class="tblFormaConsultarTipoCambioDiarioOficial-Etiqueta-Col1">
                    <span class="lblEtiqueta">Moneda destino:</span>
                </td> 
                <td class="tblFormaConsultarTipoCambioDiarioOficial-Etiqueta-Col1">
                    <span class="lblEtiqueta">Fecha:</span>
                </td> 
            </tr>
            <tr>                 
                <td class="tblFormaConsultarTipoCambioDiarioOficial-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TipoCambioDiarioOficial">${Simbolo}${TipoCambioDiarioOficial}</span>
                </td>                
                <td class="tblFormaConsultarTipoCambioDiarioOficial-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Moneda origen">${TipoMonedaOrigen}</span>
                </td> 
                <td class="tblFormaConsultarTipoCambioDiarioOficial-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Moneda destino">${TipoMonedaDestino}</span>
                </td>
                <td class="tblFormaConsultarTipoCambioDiarioOficialDiarioOficial-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Fecha">${Fecha}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>