<table class="tblFormaTelefono">
    <tr>
        <td class="tblFormaTelefono-Etiqueta"><span class="lblEtiqueta">Descripción:</span></td>
        <td class="tblFormaTelefono-Control"><input type="text" id="txtDescripcion" value="" class="txtCajaTexto"/></td>
    </tr>
    <tr>
        <td class="tblFormaTelefono-Etiqueta"><span class="lblEtiqueta">Teléfono:</span></td>
        <td class="tblFormaTelefono-Control"><input type="text" id="txtTelefono" value="" class="txtCajaTexto"/></td>
    </tr>
</table>