<div id="divFormaAgregarTiempoEntrega">
    <table class="tblFormaAgregarTiempoEntrega"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarTiempoEntrega-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tiempo de entrega:</span>
                </td> 
                <td class="tblFormaAgregarTiempoEntrega-Control-Col2"> 
                    <input type="text" id="txtTiempoEntrega" class="txtCajaTexto" value="" />
                </td>
            </tr> 
        </tbody>
    </table>
</div>