<div id="divFormaAgregarTipoIndustria">
    <table class="tblFormaAgregarTipoIndustria"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarTipoIndustria-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de industria:</span>
                </td> 
                <td class="tblFormaAgregarTipoIndustria-Control-Col2"> 
                    <input type="text" id="txtTipoIndustria" class="txtCajaTexto" value="" />
                </td>
            </tr> 
        </tbody>
    </table>
</div>