<div id="divFormaAgregarMotivoCancelacionFactura" class="divFormaAgregarMotivoCancelacionFactura" idFacturaEncabezado="${IdFacturaEncabezado}">
    <div class="col-1">
        <table class="tblFormaMotivoCancelacion-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioSM">
                        Cancelación de factura
                    </div>
                </td>
            </tr>
        </table>
        <table class="tblFormaMotivoCancelacion-Izquierda-Renglon-1"> 
            <tbody>
                <tr> 
                    <td class="tblFormaMotivoCancelacion-Izquierda-Renglon-1-Col1">
                        <span class="lblEtiqueta"><span class="spanObligatorio">*</span>Motivo de cancelación:</span>
                    </td>
                </tr>
                <tr> 
                    <td class="tblFormaMotivoCancelacion-Izquierda-Renglon-1-Col1"> 
                        <textarea id="txtMotivoCancelacion"></textarea>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>