<div class="divFormaAsignarConexionContpaq" idSucursal="${IdSucursal}">
    <table>
        <tr>
            <td class="tblFormaAsignarConexionContpaq-Etiqueta"><span class="lblEtiqueta">Base de datos:</span></td>
            <td class="tblFormaAsignarConexionContpaq-Control"><input type="text" id="txtBaseDatos" value="${BaseDatos}" class="txtCajaTexto"/></td>
        </tr>
        <tr>
            <td class="tblFormaAsignarConexionContpaq-Etiqueta"><span class="lblEtiqueta">Usuario:</span></td>
            <td class="tblFormaAsignarConexionContpaq-Control"><input type="text" id="txtUsuarioContpaq" value="${Usuario}" class="txtCajaTexto"/></td>
        </tr>
        <tr>
            <td class="tblFormaAsignarConexionContpaq-Etiqueta"><span class="lblEtiqueta">Contraseña:</span></td>
            <td class="tblFormaAsignarConexionContpaq-Control"><input type="text" id="txtContrasenaContpaq" value="${Contrasena}" class="txtCajaTexto"/></td>
        </tr>
    </table>
</div>