<div id="divFormaConsultarTipoMoneda" idTipoMoneda="${IdTipoMoneda}">
    <table class="tblFormaConsultarTipoMoneda"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTipoMoneda-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de moneda:</span>
                </td> 
                <td class="tblFormaConsultarTipoMoneda-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TipoMoneda">${TipoMoneda}</span>
                </td>
            </tr>
            <tr>  
                <td class="tblFormaConsultarTipoMoneda-Etiqueta-Col1">
                    <span class="lblEtiqueta">Símbolo:</span>
                </td> 
                <td class="tblFormaConsultarTipoMoneda-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Simbolo">${Simbolo}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>