<div id="divFormaEditarTipoServicio" idTipoServicio="${IdTipoServicio}">
<table class="tblFormaEditarTipoServicio"> 
    <tbody>
        <tr> 
            <td class="tblFormaEditarTipoServicio-Etiqueta-Col1">
                <span class="lblEtiqueta">Tipo de servicio:</span>
            </td> 
            <td class="tblFormaEditarTipoServicio-Control-Col2"> 
                <input type="text" id="txtTipoServicio" class="txtCajaTexto" value="${TipoServicio}" />
            </td>             
        </tr> 
    </tbody>
</table>
</div>