<div id="divFormaConsultarImpresionEtiquetas" IdImpresionEtiquetas="${IdImpresionEtiquetas}">
    <table class="tblFormaConsultarImpresionEtiquetas"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarImpresionEtiquetas-Etiqueta-Col1">
                    <span class="lblEtiqueta">Impresión Template:</span>
                </td>
                <td class="tblFormaConsultarImpresionEtiquetas-Etiqueta-Col2">
                    <span class="lblEtiqueta">Campo:</span>
                </td>
                <td class="tblFormaConsultarImpresionEtiquetas-Etiqueta-Col3">
                    <span class="lblEtiqueta">Etiqueta:</span>                    
                </td>  
            </tr>
            <tr>                 
                <td class="tblFormaConsultarImpresionEtiquetas-Control-Col1"> 
                    ${Template}
                </td>
                <td class="tblFormaConsultarImpresionEtiquetas-Control-Col2"> 
                    ${Campo}
                </td> 
                <td class="tblFormaConsultarImpresionEtiquetas-Control-Col3"> 
                    ${Etiqueta}
                </td>                
            </tr>            
        </tbody>
    </table>
</div>