<div id="divFormaAgregarTipoCuentaContable">
    <table class="tblFormaAgregarTipoCuentaContable"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarTipoCuentaContable-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de cuenta contable:</span>
                </td> 
                <td class="tblFormaAgregarTipoCuentaContable-Control-Col2"> 
                    <input type="text" id="txtTipoCuentaContable" class="txtCajaTexto" value="" />
                </td>
            </tr> 
        </tbody>
    </table>
</div>