<div id="divFormaConsultarUnidadCaracteristica" idUnidadCaracteristica="${IdUnidadCaracteristica}">
    <table class="tblFormaConsultarUnidadCaracteristica"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarUnidadCaracteristica-Etiqueta-Col1">
                    <span class="lblEtiqueta">Unidad de característica:</span>
                </td> 
                <td class="tblFormaConsultarUnidadCaracteristica-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="UnidadCaracteristica">${UnidadCaracteristica}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>