<div id="divFormaConsultarMetodoPago" idMetodoPago="${IdMetodoPago}">
    <table> 
        <tbody>
            <tr> 
                <td align="right">
                    <span class="lblEtiqueta">Método de pago:</span>
                </td>
                <td>
                    <span>${MetodoPago}</span>
                </td>
            </tr>
            <tr>
                <td align="right"> 
                     <span class="lblEtiqueta">Tipo de movimiento:</span>
                </td>
                <td>
                     <span>${TipoMovimiento}</span> 
                </td>
            </tr> 
                    
            <tr>
                <td align="right">
                    <span class="lblEtiqueta">Clave:</span>
                </td>
                <td>
                    <span>${Clave}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>