<table id="tblProspeccion" border="1" cellspacing="0">
    <thead>
        <tr>
            <th colspan="6"></th>
            {{each EtapasProspeccion}}
            <th colspan="${$value.Colspan}">${$value.EtapaProspeccion}</th>
            {{/each}}
            <th></th>
        </tr>
        <tr class="rotate">
            <th><div class="not" style="width:130px;">Días<br />(Tiempo en Cerrar)</div></th>
            <th><div class="not" style="width:70px;">Avance %</div></th>
            <th><div class="not" style="width:158px;">Usuario</div></th>
            <th><div class="not" style="width:158px;">Prospecto</div></th>
            <th><div class="not" style="width:158px;">Correo</div></th>
            <th><div class="not" stle="width:158px;">Telefono</div></th>
            {{each EstatusProspeccion}}
            <th><div>${$value.EstatusProspeccion}</div></th>
            {{/each}}
            <th><div>Eliminar</div></th>
        </tr>
    </thead>
    <tbody>
        {{each Prospecciones}}
        <tr IdProspeccion="${IdProspeccion}">
            <td style="text-align: center;">${Dias} Días</td>
            <td style="text-align: center;">${AvancePorcentaje}%</td>
            <td style="white-space:nowrap;">${Usuario}</td>
            <td><input type="text" name="Cliente" placeholder="Cliente" width="150" value="${Cliente}" /></td>
            <td><input type="text" name="Correo" placeholder="Correo" width="150" value="${Correo}" ondblclick="openMail(this)" />
            <td><input type="text" name="Telefono" placeholder="Telefono" width="150" value="${Telefono}" /></td>
            {{each EstatusProspeccion}}
            <td><input type="checkbox" value="${$value.IdEstatusProspeccion}" {{if $value.Baja == 0}} checked{{/if}} /></td>
            {{/each}}
            <td><img src="../Images/eliminar.png" height="20" style="cursor:pointer;" onclick="EliminarFila(this);" /></td>
            {{/each}}
        </tr>
    </tbody>
</table>
