<div>
    <table class="tblFormaSolicitudMaterial-Encabezado">
        <tr>
            <td>
                <div class="divTituloFormularioSM">
                    Solicitud Proyecto
                </div>
            </td>
        </tr>
    </table>
    <table class="tblSolicitudProyecto" style="margin:0 auto;">
        <tbody>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">No. Solicitud Proyecto:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${FolioSolicitudProyecto}</td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>#Oportunidad:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${IdOportunidad}
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1" style="width:30%"></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1" style="width:30%"></td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Oportunidad:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">${Oportunidad}
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Cliente:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">${Cliente}
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Proyecto:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">${NombreProyecto}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="tblFormaSolicitudMaterial-Encabezado">
        <tr>
            <td>
                <div class="divTituloFormularioSM">
                    Documentos Adjuntos
                </div>
            </td>
        </tr>
    </table>
    <table class="tblSolicitudProyecto" style="margin:0 auto;">
        <tbody>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Cotizacion en Excel:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkCotExcel" {{if CotExcel === true}} checked="checked" {{/if}} disabled/>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Cotizacion firmada:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col4" colspan="2">
                    <input type="checkbox" id="chkCotFirmada" {{if CotFirmada === true}} checked="checked" {{/if}} disabled/>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Orden de Compra:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkOrdenCompra" {{if OrdenCompraProyecto === true}} checked="checked" {{/if}} disabled/>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>#Orden Compra:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col4" colspan="2">
                    <input type="text" id="txtNumOrdenCompra" value="${NumOrdenCompra}" style="width:99%" disabled/>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Contrato:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkContrato" {{if Contrato === true}} checked="checked" {{/if}} disabled/>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>#Contrato:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col4" colspan="2">
                    <input type="text" id="txtNumContrato" value="${NumContrato}" style="width:99%" disabled/>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Autorización por correo:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkAutorizadoCorreo" {{if AutorizadoCorreo === true}} checked="checked" {{/if}} disabled/>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Pago de Anticipo:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkPagoAnticipo" {{if PagoAnticipo === true}} checked="checked" {{/if}} disabled/>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Requiere factura:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkRequiereFactura" {{if RequiereFactura === true}} checked="checked" {{/if}} disabled/>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span>Porcentaje:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col4" colspan="2">
                    <input type="text" id="txtPorcentaje" value="${Porcentaje}" style="width:99%" disabled/>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1" colspan="5">
                    <span>En caso de no presentar ninguno de los Anteriores,<br />Indicar quien autoriza alta (Gerente de ventas, Coordinador, etc.)</span>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col2" colspan="5">${QuienAutoriza}
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Contacto:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${ContactoSolProyecto}
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span>Quien elaboro cotización:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${QuienRealizaCotizacion}
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1" colspan="3">
                    <input type="radio" name="avanzar" id="chkAvanzar1" {{if Avanzar === 1}} checked="checked" {{/if}} value="1" disabled > Avanzar Compras hasta pago de Anticipo
                </td>

            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="3">
                    <input type="radio" name="avanzar" id="chkAvanzar2" {{if Avanzar === 2}} checked="checked" {{/if}} value="2" disabled> Avanzar Compras con O.C. Autrizacion por correo o Contrato del Cliente
                </td>
            </tr>
        </tbody>
    </table>
    <table class="tblFormaSolicitudMaterial-Encabezado">
        <tr>
            <td>
                <div class="divTituloFormularioSM">
                    Solicitud de Compra
                </div>
            </td>
        </tr>
    </table>
    <table class="tblSolicitudLevantamieno" style="margin:0 auto;">
        <tbody>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">
                    <input type="radio" name="compra" id="chkUrgente" {{if Compra === 1}} checked="checked" {{/if}} value="1" disabled> Urgente
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col4">
                    <input type="radio" name="compra" id="chkNormal" {{if Compra === 2}} checked="checked" {{/if}} value="2" disabled> Normal
                </td>
            </tr>
        </tbody>
    </table>
    <table class="tblFormaSolicitudMaterial-Encabezado">
        <tr>
            <td>
                <div class="divTituloFormularioSM">
                    Comentarios
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tbody>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1">${ComentarioSolProyecto}</td>
            </tr>
        </tbody>
    </table>
</div>