<div id="divFormaConsultarSolicitudFactura" idProyecto="${IdProyecto}" idCliente="${IdCliente}" idSolicitudFactura="${IdSolicitudFactura}">
    <div class="alignCenter">
        <table class="tblEncabezadoDescripcionConcepto">
            <tbody>
                <tr>
                    <td class="centerMe" style="width:100%; padding:3px 0px;">
                        Nombre del proyecto:
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="divNombreProyecto">
        <table>
            <tr>
                <td>${NombreProyecto}</td>
            </tr>
        </table>
    </div>
   <div class="alignCenter">
        <table class="tblEncabezadoAgregarSolicitudFacturas">
            <tbody>
                <tr>
                    <td class="centerMe" style="width:100%; padding:3px 0px;">
                        <div id="divAgregarSolicitudFacturas" title="Agregar SolicitudFacturas">
                            <img id="imgAgregarSolicitudFactura" idProyecto="${IdProyecto}" src="../images/agregar.png" style="width:9px"> SolicitudFacturas
                        </div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="divListaSolicitudFacturas">
        <ul id="ulListadoSolicitudFacturas" class="ulListadoSolicitudFacturas">
        {{each SolicitudFacturas}}
            <li class="liSolicitudFactura" idSolicitudFactura="${$value.IdSolicitudFacturacion}" title="Editar SolicitudFactura">
                <div id="divSolicitudFacturaAgregarSolicitudFactura">
                    <table width="100%" height="100%">
                        <tr>
                            <td class="Col1">
                                <div class='divOrden' title='Orden'>${$value.Orden}</div>
                            </td>
                            <td class="Col2">
                                <label class="lblEditarSolicitud cursorPointer">${$value.Solicitud}</label>
                            </td>                            
                            <td class="Col3">
                                <div class='divEliminarSolicitud' title='Eliminar'>X</div>
                            </td>
                            
                        </tr>
                    </table>    
                </div>
            </li>
        {{/each}}
        </ul>
    </div>
</div>