<div id="divFormaConsultarCondicionPago" idCondicionPago="${IdCondicionPago}">
<table class="tblFormaConsultarCondicionPago"> 
    <tbody>
        <tr> 
            <td class="tblFormaConsultarCondicionPago-Etiqueta-Col1">
                <span class="lblEtiqueta">Condición de pago:</span>
            </td> 
            <td class="tblFormaConsultarCondicionPago-Control-Col2"> 
                <span class="lblEtiquetaConsulta" title="CondicionPago">${CondicionPago}</span> 
            </td>
        </tr>
        <tr> 
            <td class="tblFormaConsultarCondicionPago-Etiqueta-Col1">
                <span class="lblEtiqueta">Número de días:</span>
            </td> 
            <td class="tblFormaConsultarCondicionPago-Control-Col2"> 
                <span class="lblEtiquetaConsulta" title="Número de días">${NumeroDias}</span> 
            </td>
        </tr>  
    </tbody>
</table>
</div>