<div id="divFormaConsultarTipoCliente" idTipoCliente="${IdTipoCliente}">
    <table class="tblFormaConsultarTipoCliente"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTipoCliente-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de cliente:</span>
                </td> 
                <td class="tblFormaConsultarTipoCliente-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TipoCliente">${TipoCliente}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>