<div id="divFormaEditarUnidadCompraVenta" idUnidadCompraVenta="${IdUnidadCompraVenta}">
<table class="tblFormaEditarUnidadCompraVenta"> 
    <tbody>
        <tr> 
            <td class="tblFormaEditarUnidadCompraVenta-Etiqueta-Col1">
                <span class="lblEtiqueta">Unidad de compra venta:</span>
            </td> 
            <td class="tblFormaEditarUnidadCompraVenta-Control-Col2"> 
                <input type="text" id="txtUnidadCompraVenta" class="txtCajaTexto" value="${UnidadCompraVenta}" />
            </td>             
        </tr> 
    </tbody>
</table>
</div>