<div id="tabSolicitudLevantamieno">
    <table class="tblSolicitudLevantamieno" style="margin:0 auto;">
        <tbody>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">No. Solicitud Levantamiento:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" id="idSolicitud">${FolioSolicitud}</td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Fecha Solicitud:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${FechaAlta}</td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Oportunidad:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${Oportunidad}</td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Fecha Cita:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${CitaFechaHora}</td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Especialidad:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${Especialidad}</td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Cliente:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="3">${Cliente}</td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Agente:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${Agente}</td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Asignado:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${Asignado}
            </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2"></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col3"><span class="lblEtiqueta">Externo:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col4">
                    <input type="checkbox" id="chkExterno" {{if Externo === true}} checked="checked" {{/if}} disabled/>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1" colspan="4">
                    <span style="border-top:1px; border-bottom:1px; font-size:15px;"><center><b>Contacto</b></center><b></b></span>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Contacto Directo:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">
                    ${ContactoDirecto}
                    <i id="iDivisionDescripcion" class="fa fa-question-circle" aria-hidden="true" style="font-size:14px;cursor:help;"></i>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Puesto:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">
                    {{each ContactoDirectoPuesto }}
                        {{if $value.Valor == IdContactoDirectoPuesto}} ${$value.Descripcion} {{/if}}
                    {{/each}}
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Contacto en Sitio:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${ContactoEnSitio}</td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Puesto:</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">
                    {{each ContactoSitioPuesto}}
                        {{if $value.Valor == IdContactoSitioPuesto}} ${$value.Descripcion} {{/if}}
                    {{/each}}
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col1"><span class="lblEtiqueta">Telefono(s):</span></td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">${Telefonos}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1" colspan="2">
                    <span class="lblEtiqueta">Se requiere Permiso para Ingresar a Sitio?</span>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkPermisoIngresarSitio" {{if PermisoIngresarSitio === true}} checked="checked" {{/if}} disabled />
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1" colspan="2">
                    <span class="lblEtiqueta">Se requiere Equipo de Seguridad para Ingresar a sitio?</span>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkEquipoSeguridadIngresarSitio" {{if EquipoSeguridadIngresarSitio === true}} checked="checked" {{/if}} disabled/>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1" colspan="2">
                    <span class="lblEtiqueta">El cliente cuenta con Lugar de Estacionamiento?</span>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkClienteCuentaEstacionamiento" {{if ClienteCuentaEstacionamiento === true}} checked="checked" {{/if}} disabled/>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1" colspan="2">
                    <span class="lblEtiqueta">Cliente Cuenta con planos para Levantamiento?</span>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2" colspan="2">
                    <input type="checkbox" id="chkClienteCuentaPlanoLevantamiento" {{if ClienteCuentaPlanoLevantamiento === true}} checked="checked" {{/if}} disabled/>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1" colspan="4">
                    <span style="border-top:1px; border-bottom:1px; font-size:15px; overflow-y: scroll;"><center><b>Domicilio</b></center><b></b></span>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col2" colspan="4">
                    <textarea id="txtDomicilio" rows="5" style="width:99%; overflow-y: scroll;" disabled>${Domicilio}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1" colspan="4">
                    <span style="border-top:1px; border-bottom:1px; font-size:15px;"><center><b>Descripción del Requerimiento</b></center><b></b></span>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col2" colspan="4">
                    <textarea id="txtDescripcion" rows="5" style="width:99%; overflow-y: scroll;" disabled>${Descripcion}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1" colspan="4">
                    <span style="border-top:1px; border-bottom:1px; font-size:15px;"><center><b>Notas</b></center><b></b></span>
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col2" colspan="4">
                    <textarea id="txtNotas" rows="5" style="width:99%; overflow-y: scroll;" disabled>${Notas}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1">
                    <span class="lblEtiqueta">Confirmar solicitud:</span>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col2">
                    <input type="checkbox" id="chkConfirmarSolicitud" {{if ConfirmarSolicitud === true}} checked="checked" {{/if}} disabled/>
                </td>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col3">
                    <span class="lblEtiqueta">Levantamiento Creado:</span>
                </td>
                <td class="tblSolicitudLevantamieno-Etiqueta-Col4">
                    <input type="checkbox" id="chkLevantamientoCreado" {{if LevantamientoCreado === true}} checked="checked" {{/if}} disabled />
                </td>
            </tr>
            <tr>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col1">
                    <div id="divImprimirSolLevantamiento" onclick="ImprimirSolLevantamiento();" class="cursorPointer" title="Imprimir" style="height:11px;">
                        <img src="../images/imprimir.png" style="width:25px;height:25px;" />
                    </div>
                </td>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col2"></td>
                <td class="tblSolicitudLevantamiento-Etiqueta-Col3"></td>
            </tr>
        </tbody>
    </table>
</div>