<div id="divFormaAsociarProductosDevolucionCancelacionF" idCliente="${IdCliente}" idNotaCredito="${IdNotaCredito}" idTipoNotaCredito="${IdTipoNotaCredito}">
    <table class="tblFormaNotaCredito-Encabezado">
        <tr>
            <td>
                <div class="divTituloFormularioSM">
                    Asociación de Productos a nota de crédito
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <div id="divGridProductosNotaCreditoDevolucionCancelacion" class="divContGrid renglon-bottom">
                    <div id="divContGridProductosNotaCreditoDevolucionCancelacion">
                        <!--INICIO GRID PRODUCTOS-->
                        <table id="grdProductosNotaCreditoDevolucionCancelacion"></table>
                        <div id="pagProductosNotaCreditoDevolucionCancelacion"></div>
                        <!--FIN DE GRID PRODUCTOS-->
                    </div>
                </div>
            </td>
        </tr>
    </table>
     
</div>
