<div id="divFormaAgregarTipoDocumento">
    <table class="tblFormaAgregarTipoDocumento"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarTipoDocumento-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de documento:</span>
                </td> 
                <td class="tblFormaAgregarTipoDocumento-Control-Col2"> 
                    <input type="text" id="txtTipoDocumento" class="txtCajaTexto" value="" />
                </td>
                <td class="tblFormaAgregarTipoDocumento-Etiqueta-Col1">
                    <span class="lblEtiqueta">Comando:</span>
                </td> 
                <td class="tblFormaAgregarTipoDocumento-Control-Col2"> 
                    <input type="text" id="txtComando" class="txtCajaTexto" value="" />
                </td>
            </tr> 
        </tbody>
    </table>
</div>