<div id="divFormaConciliarPagos" idCliente="${IdCliente}" idPago="${IdCuentasPorCobrar}">
    <div class="col-1">
        <table class="tblFormaPago-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioSM">
                        Conciliar pagos
                    </div>
                </td>
            </tr>
        </table>
        <div id="divGridPagosConciliar" class="divContGrid renglon-bottom">
            <div id="divContGridConciliarPagos">
                <!--INICIO GRID CONCILIAR PAGOS-->
                <table id="grdPagosConciliar"></table>
                <div id="pagPagosConciliar"></div>
                <!--FIN DE GRID CONCILIAR PAGOS-->
            </div>
        </div>
    </div>
</div>