<div id="divFormaReporteKeep" idReportesKeep="${IdReportesKeep}" idSucursal ="${IdSucursal}", fechaInicial="${FechaInicial}" fechaFinal="${FechaInicial}" nombreReporte="${NombreReporte}">
<div class="col-1">
    <table class="tblFormaFiltrosReportesKeep-Izquierda-Renglon-1">
        <tr>
            <td colspan="2">
                <div class="divTituloFormularioSM">
                    <span id="spanNombreReporte">&nbsp;</span>
                </div>
            </td>           
        </tr>        
        <tr>
            <td class="tblFormaFiltrosReportesKeep-Izquierda-Renglon-1-Col1">
                <span class="lblEtiqueta">&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
            <div class="wrapper" >
                 <div id="divGridReporteKeep" class="divContGrid renglon-bottom">
                    <div id="divContGridReporteKeep" style="width:970px;overflow:auto; text-align:center;">
                        <!--INICIO GRID REPORTE-->
                        <table id="grdReporteKeep" style="text-align:center"></table>
                        <div id="pagReporteKeep"></div>
                        <!--FIN DE GRID REPORTE-->
                    </div>
                </div>
            </div>
            </td>
        </tr> 
    </table>
</div>
</div>