<div id="divFormaConsultarTipoCuentaContable" idTipoCuentaContable="${IdTipoCuentaContable}">
    <table class="tblFormaConsultarTipoCuentaContable"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTipoCuentaContable-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de cuenta contable:</span>
                </td> 
                <td class="tblFormaConsultarTipoCuentaContable-Control-Col2"> 
                    <span class="lblEtiquetaConsulta">${TipoCuentaContable}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>