<div id="divFormaEditarTipoDocumento" idTipoDocumento="${IdTipoDocumento}">
    <table class="tblFormaEditarTipoDocumento"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarTipoDocumento-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de documento:</span>
                </td> 
                <td class="tblFormaEditarTipoDocumento-Control-Col2"> 
                    <input type="text" id="txtTipoDocumento" class="txtCajaTexto" value="${TipoDocumento}" />
                </td>
                <td class="tblFormaEditarTipoDocumento-Etiqueta-Col1">
                    <span class="lblEtiqueta">Comando:</span>
                </td> 
                <td class="tblFormaEditarTipoDocumento-Control-Col2"> 
                    <input type="text" id="txtComando" class="txtCajaTexto" value="${Comando}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>
