<table class="tblFormaFiltrosLevantamiento-Izquierda-Renglon-1">
    <tr>
        <td class="tblFormaFiltrosLevantamiento-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Por fechas:</span></td>
        <td class="tblFormaFiltrosLevantamiento-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Fecha inicial:</span></td>
        <td class="tblFormaFiltrosLevantamiento-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta">Fecha final:</span></td>
        <td><span class="lblEtiqueta">Estatus:</span></td>
    </tr>
    <tr>
        <td class="tblFormaFiltrosLevantamiento-Izquierda-Renglon-1-Col1">
            <input type="checkbox" id="chkPorFecha" />
        </td>
        <td class="tblFormaFiltrosLevantamiento-Izquierda-Renglon-1-Col2"><input type="text" id="txtFechaInicial" value="${FechaInicial}"></td>
        <td class="tblFormaFiltrosLevantamiento-Izquierda-Renglon-1-Col3"><input type="text" id="txtFechaFinal" value="${FechaFinal}"></td>
        <td>
            <select id="cmbEstatusLevantamiento">
                {{each Estatus}}
                <option value="${$value.Valor}">${$value.Descripcion}</option>
                {{/each}}
            </select>
        </td>
    </tr>
</table>
