<div id="divFormaEditarTipoCliente" idTipoCliente="${IdTipoCliente}">
    <table class="tblFormaEditarTipoCliente"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarTipoCliente-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de cliente:</span>
                </td> 
                <td class="tblFormaEditarTipoCliente-Control-Col2"> 
                    <input type="text" id="txtTipoCliente" class="txtCajaTexto" value="${TipoCliente}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>