<li class="liDetalleCotizacionPaso" idDetalleCotizacionPaso="${IdDetalleCotizacionPaso}" title="Detalle">
	<table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="Col1">${Clave}</td>            
            <td class="Col2">${DescripcionCorta}</td>
            <td class="Col3">${Cantidad}</td>
            <td class="Col4">${PrecioUnitario}</td>
            <td class="Col5">${Total}</td>
            <td class="Col6">${Descuento}</td>
        </tr>
    </table>
</li>