<table class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1">
    <tr>
        <td class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Por fechas:</span></td>
        <td class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Fecha inicial:</span></td>
        <td class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta">Fecha final:</span></td>
        <td class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Folio:</span></td>
    </tr>
    <tr>
        <td class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1-Col1"><input type="checkbox" id="chkPorFechaS" /></td>
        <td class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1-Col2"><input type="text" id="txtFechaInicialS" value="${FechaInicial}"></td>
        <td class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1-Col3"><input type="text" id="txtFechaFinalS" value="${FechaFinal}"></td>
        <td class="tblFormaFiltrosSalidaMaterial-Izquierda-Renglon-1-Col4"><input type="text" id="txtFolioS" style="width:173px;" value="" onkeypress="javascript:return BuscarNumeroSerie(event);"></td>
    </tr>
</table>
