<div id="divFormaAgregarTipoMoneda">
    <table class="tblFormaAgregaTipoMoneda"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarTipoMoneda-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de moneda:</span>
                </td> 
                <td class="tblFormaAgregarTipoMoneda-Control-Col2"> 
                    <input type="text" id="txtTipoMoneda" class="txtCajaTexto" value="" />
                </td>
            </tr>
            <tr> 
                <td class="tblFormaAgregarTipoMoneda-Etiqueta-Col1">
                    <span class="lblEtiqueta">Símbolo:</span>
                </td> 
                <td class="tblFormaAgregarTipoMoneda-Control-Col2"> 
                    <input type="text" id="txtSimbolo" class="txtCajaTexto" value="$" maxlength="1"/>
                </td>
            </tr>  
        </tbody>
    </table>
</div>