<div id="divFormaEditarTipoVenta" idTipoVenta="${IdTipoVenta}">
<table class="tblFormaEditarTipoVenta"> 
    <tbody>
        <tr> 
            <td class="tblFormaEditarTipoVenta-Etiqueta-Col1">
                <span class="lblEtiqueta">Tipo de venta:</span>
            </td> 
            <td class="tblFormaEditarTipoVenta-Control-Col2"> 
                <input type="text" id="txtTipoVenta" class="txtCajaTexto" value="${TipoVenta}" />
            </td>             
        </tr> 
    </tbody>
</table>
</div>