<div id="divFormaEditarSerieFactura" IdSucursal="${IdSucursal}" idSerieFactura="${IdSerieFactura}">
<table class="tblFormaAgregarSerieFactura"> 
    <tbody>
        <tr> 
            <td class="tblFormaSerieFactura-Izquierda-Renglon-1-Col1">
                <span class="lblEtiqueta">Serie de factura:</span>
            </td>
            <td class="tblFormaSerieFactura-Izquierda-Renglon-1-Col2">
                <span class="lblEtiqueta">Timbrado:</span>
            </td>
            <td class="tblFormaSerieFactura-Izquierda-Renglon-1-Col3">
                <span class="lblEtiqueta">Parcial:</span>
            </td>
            <td class="tblFormaSerieFactura-Izquierda-Renglon-1-Col4">
                <span class="lblEtiqueta">Es venta:</span>
            </td>
        </tr>
        <tr> 
            <td class="tblFormaSerieFactura-Izquierda-Renglon-1-Col1"> 
                <input type="text" id="txtSerieFactura" class="txtCajaTexto" value="${SerieFactura}" />
            </td>
            <td class="tblFormaSerieFactura-Izquierda-Renglon-1-Col2">
                <input type="checkbox" id="chkTimbrado" {{if Timbrado === true}}checked="checked"{{/if}} />
            </td>
            <td class="tblFormaSerieFactura-Izquierda-Renglon-1-Col3">
                <input type="checkbox" id="chkParcial" {{if EsParcialidad === true}}checked="checked"{{/if}} />
            </td>
            <td class="tblFormaSerieFactura-Izquierda-Renglon-1-Col3">
                <input type="checkbox" id="chkEsVenta" {{if EsVenta === true}}checked="checked"{{/if}} />
            </td>
        </tr> 
    </tbody>
</table>
</div>