<table>
    <tr>
        <td style="width:850px;">
            <table class="tblFiltrosFacturaCliente">
                <tr>
                    <td class="tdEtiqueta">Código o nombre de producto:</td>
                    <td class="tdControl">
                        <input id="txtClaveProducto" placeholder="Buscar por clave o descripción del producto" value="" class="txtCajaTexto" style="width:400px" />                    
                        
                    </td>
                    
                </tr>
            </table>
        </td>
        <td style="width:100px;">
            <table>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>