<div id="divFormaEditarTipoCuentaContable" idTipoCuentaContable="${IdTipoCuentaContable}">
    <table class="tblFormaEditarTipoCuentaContable"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarTipoCuentaContable-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de cuenta contable:</span>
                </td> 
                <td class="tblFormaEditarTipoCuentaContable-Control-Col2"> 
                    <input type="text" id="txtTipoCuentaContable" class="txtCajaTexto" value="${TipoCuentaContable}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>