<div id="divFormaConsultarMarca" idMarca="${IdMarca}">
    <table class="tblFormaConsultarMarca"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarMarca-Col1">
                    <span class="lblEtiqueta">Marca:</span>
                </td> 
                <td class="tblFormaConsultarMarca-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Marca">${Marca}</span>
                </td>
                <td class="tblFormaConsultarMarca-Col3">
                    <span class="lblEtiqueta">Cuota compra:</span>
                </td> 
                <td class="tblFormaConsultarMarca-Col4"> 
                    <span id="txtCuotaCompra" class="lblEtiquetaConsulta" title="Cuota de la compra">${CuotaCompra}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>