<div id="divFormaConsultarImpresionTemplate" IdImpresionTemplate="${IdImpresionTemplate}">
    <table class="tblFormaAgregaImpresionTemplate"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarImpresionTemplate-Etiqueta-Col1">
                    <span class="lblEtiqueta">Empresa:</span>
                </td>
                <td class="tblFormaConsultarImpresionTemplate-Etiqueta-Col1">
                    <span class="lblEtiqueta">Impresión documento:</span>
                </td> 
            </tr>
            <tr>                 
                <td class="tblFormaConsultarImpresionTemplate-Control-Col2"> 
                    ${Empresa}
                </td>
                <td class="tblFormaConsultarImpresionTemplate-Control-Col2"> 
                    ${ImpresionDocumento}
                </td>                
            </tr>
            <tr>
                <td class="tblFormaConsultarImpresionTemplate-Etiqueta-Col1">
                    <span class="lblEtiqueta">Ruta template:</span>                    
                </td> 
                <td class="tblFormaConsultarImpresionTemplate-Etiqueta-Col1">
                    <span class="lblEtiqueta">Ruta css:</span>
                </td> 
            </tr> 
            <tr>
                <td class="tblFormaConsultarImpresionTemplate-Control-Col2"> 
                    ${RutaTemplate}
                </td>
                <td class="tblFormaConsultarImpresionTemplate-Control-Col2"> 
                    ${RutaCSS}
                </td>
            </tr>
        </tbody>
    </table>
</div>