<div id="divFormaEditarCostoCampana" idCostoCampana="${IdCostoCampana}">
    <table class="tblFormaEditarCostoCampana"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarCostoCampana-Etiqueta-Col1">
                    <span class="lblEtiqueta">Costo campaña:</span>
                </td> 
                <td class="tblFormaEditarCostoCampana-Control-Col2"> 
                    <input type="text" id="txtCostoCampana" class="txtCajaTexto" value="${CostoCampana}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>
