<div id="divFormaEditarDireccion" idDireccionOrganizacion="${IdDireccionOrganizacion}">
    <table class="tblFormaEditarDireccion-Encabezado">
        <tr>
            <td colspan="2">
                <div class="divTituloFormularioSM">
                    Dirección
                </div>
            </td>
        </tr>
    </table>
    <table class="tblFormaEditarDireccion">
        <tr>
            <td class="tblFormaEditarDireccion-Izquierda-Col1" colspan="2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Descripción breve:</span></td>
            <td class="tblFormaEditarDireccion-Izquierda-Col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Tipo de dirección:</span></td>
        </tr>
        <tr>
           <td class="tblFormaEditarDireccion-Izquierda-Col1" colspan="2"><input id="txtDescripcionDireccion" value="${Descripcion}" /></td>            
           <td class="tblFormaEditarDireccion-Izquierda-Col3">
                <select id="cmbTipoDireccion" class="cmbComboBox">
                    <option value="0">Eligir una opción...</option>
                    {{each TipoDirecciones}}
                        <option value="${$value.IdTipoDireccion}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.TipoDireccion}</option>
                    {{/each}}
                </select>
            </td>         
        </tr>
        <tr>
            <td class="tblFormaEditarDireccion-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Calle:</span></td>
            <td class="tblFormaEditarDireccion-td-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Numero exterior:</span></td>
            <td class="tblFormaEditarDireccion-td-Col3"><span class="lblEtiqueta">Numero interior:</span></td>
        </tr>
        <tr>
            <td class="tblFormaEditarDireccion-td-Col1"><input id="txtCalle" value="${Calle}" class="txtCajaTexto" /></td>
            <td class="tblFormaEditarDireccion-td-Col2"><input id="txtNumeroExterior" value="${NumeroExterior}" /></td>
            <td class="tblFormaEditarDireccion-td-Col3"><input id="txtNumeroInterior" value="${NumeroInterior}" /></td>
        </tr>
        <tr>
            <td class="tblFormaEditarDireccion-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Colonia:</span></td>
            <td class="tblFormaEditarDireccion-td-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Código Postal:</span></td>
            <td class="tblFormaEditarDireccion-td-Col3"><span class="lblEtiqueta">Conmutador:</span></td>
        </tr>
        <tr>
            <td class="tblFormaEditarDireccion-td-Col1"><input id="txtColonia" value="${Colonia}" class="txtCajaTexto" /></td>
            <td class="tblFormaEditarDireccion-td-Col2"><input id="txtCodigoPostal" value="${CodigoPostal}" /></td>
            <td class="tblFormaEditarDireccion-td-Col3"><input id="txtConmutador" value="${ConmutadorTelefono}" /></td>
        </tr>
        <tr>
            <td class="tblFormaEditarDireccion-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>País:</span></td>
            <td class="tblFormaEditarDireccion-td-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Estado:</span></td>
            <td class="tblFormaEditarDireccion-td-Col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Municipio:</span></td>
        </tr>
        <tr>
            <td>
                <select id="cmbPais" class="cmbComboBox" onchange="">
                    <option value="0">Eligir una opción...</option>
                    {{each Paises}}
                        <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                    {{/each}}
                </select>
            </td>
            <td>
                <select id="cmbEstado" class="cmbComboBox" onchange="">
                    <option value="0">Eligir una opción...</option>
                    {{each Estados}}
                        <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                    {{/each}}
                </select>
            </td>
             <td>
                <select id="cmbMunicipio" class="cmbComboBox" onchange="">
                    <option value="0">Eligir una opción...</option>
                    {{each Municipios}}
                        <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                    {{/each}}
                </select>
            </td>
        </tr>            
        <tr>
            <td class="tblFormaEditarDireccion-td-Col1"><span class="lblEtiqueta">Localidad:</span></td>
            <td class="tblFormaEditarDireccion-td-Col2"><span class="lblEtiqueta"></span></td>
        </tr>
        <tr>
           <td class="tblFormaEditarDireccion-td-Col1" colspan="3">
                <select id="cmbLocalidad" class="cmbComboBox" onchange="">
                    <option value="0">Eligir una opción...</option>
                    {{each Localidades}}
                        <option value="${$value.Valor}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                    {{/each}}
                </select>               
           </td>
        </tr>
        <tr>
            <td class="tblFormaEditarDireccion-td-Col1"><span class="lblEtiqueta">Referencia:</span></td>
            <td class="tblFormaEditarDireccion-td-Col2"><span class="lblEtiqueta"></span></td>
        </tr>
        <tr>
            <td class="tblFormaEditarDireccion-td-Col1" colspan ="3"><textarea id="txtReferencia">${Referencia}</textarea></td>
        </tr>
    </table>
</div>