<div id="divFormaAgregarDescuentoProducto">
    <table class="tblFormaAgregarDescuentoProducto"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarDescuentoProducto-Etiqueta-Col1">
                    <span class="lblEtiqueta">Descuento:</span>
                </td> 
                <td class="tblFormaAgregarDescuentoProducto-Control-Col2"> 
                    <input type="text" id="txtDescuentoProducto" class="text-NumeroPorcentaje" value="0" /> %
                </td>
            </tr>
            <tr> 
                <td class="tblFormaAgregarDescuentoProducto-Etiqueta-Col1">
                    <span class="lblEtiqueta">Descripción:</span>
                </td> 
                <td class="tblFormaAgregarDescuentoProducto-Control-Col2"> 
                    <input type="text" id="txtDescripcion" class="txtCajaTexto" value="" />
                </td>
            </tr>
        </tbody>
    </table>
</div>