<div id="divFormaConsultarFacturaEncabezado" idFacturaEncabezado="${IdFacturaEncabezado}" serieTimbrado="${SerieTimbrado}">
    <div class="col-1">
        <div class="wrapper">            
            <table class="tblFormaFactura-Encabezado">
                <tr>
                    <td>
                        <div class="divTituloFormularioSM">
                            Datos de expedición
                        </div>
                    </td>
                    <td class="tblFormaFactura-td-Col2"><span id="spanRegimenFiscal">${RegimenFiscal}</span></td>
                </tr>
            </table>
            <table class="tblFormaFactura-DatosExpedicion">
                <tr>
                    <td class="tblFormaFactura-td-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Lugar de expedición:</span></td>
                    <td class="tblFormaFactura-td-Col2"><span id="spanLugarExpedicion">${LugarExpedicion}</span></td>
                    <td class="tblFormaFactura-td-Col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Fecha de emisión:</span></td>
                    <td class="tblFormaFactura-td-Col4"><span id="spanFechaActual">${FechaEmision}</span></td>
                </tr>
            </table>
            <table class="tblFormaFactura-Encabezado">
                <tr>
                    <td>
                        <div class="divTituloFormularioSM">
                            Datos del cliente
                        </div>
                    </td>
                </tr>
            </table>
            
            <table class="tblFormaFactura-Izquierda-Renglon-10">
                <tr>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col1">
                        <span class="lblEtiqueta">Razón social:</span>
                    </td>
                    
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col2">
                        <span class="lblEtiqueta"><span class="spanObligatorio">*</span>RFC:</span>
                    </td>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col3">
                        <span class="lblEtiqueta">Orden de compra:</span>
                    </td>
                </tr>
                <tr>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col1">
                        ${RazonSocial}
                    </td>
                    
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col2">
                        <span id="spanRFC">${RFC}</span>
                    </td>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col3">
                        ${NumeroOrdenCompra} 
                    </td>               
                </tr>
            </table>    
            
            <table class="tblFormaFactura-Izquierda-Renglon-10">
                <tr>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col1">
                        <span class="lblEtiqueta">contacto:</span>
                    </td>
                    
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col2">
                    </td>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col3">
                    </td>
                </tr>
                <tr>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col1">
                        ${ContactoOrganizacion}
                    </td>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col2">
                    </td>
                    <td class="tblFormaFactura-Izquierda-Renglon-10-Col3">
                    </td>               
                </tr>
            </table>           
           
            <table class="tblFormaFactura-Encabezado">
                <tr>
                    <td colspan="2">
                        <div class="divTituloFormularioSM">
                            Datos de pago
                        </div>
                    </td>
                </tr>
            </table>
            <table class="tblFiltrosFacturaCliente-DatosPago">
                <tr>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Condiciones de pago:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Método de pago:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Fecha de pago:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col4"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>No. Cuenta:</span></td>
                </tr>
                <tr>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1">
                        ${CondicionPago}
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2">
                        ${MetodoPago}
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3">${FechaPago}</td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col4">
                        ${NumeroCuenta}
                    </td>
                </tr>                
                <tr>
                    
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta">Descuento sobre factura:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta">Porcentaje:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span class="lblEtiqueta">Estatus:</span></td>
                </tr>
                <tr>                    
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1">
                        ${DescuentoCliente}
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2">${PorcentajeDescuento}%</td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2">${Estatus}</td>
                </tr>
                
            </table>
            <table class="tblFormaFactura-Encabezado">
                <tr>
                    <td>
                        <div class="divTituloFormularioSM">
                            Direcciones
                        </div>
                    </td>
                </tr>
            </table>
            <table class="tblFiltrosFacturaCliente-Direcciones">
                <tr>
                    <td class="tblFiltrosFacturaCliente-Direcciones-td-col1">
                        <div id="divDireccionesTabs">
                            <ul>                                
                                <li><a href="#tabDireccionFiscal"><span class="spanObligatorio">*</span>Fiscal</a></li>
                                <li><a href="#tabDireccionEntrega">Entrega</a></li>
                            </ul>
                            
                            <div id="tabDireccionFiscal">
                                <table class="tblFiltrosFacturaCliente-DatosPago">
                                    <tr>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Calle:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>No. exterior:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span class="lblEtiqueta">No. interior:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col4"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Colonia:</span></td>
                                    </tr>
                                    <tr>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span id="spanCalleFiscal">${CalleFiscal}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span id="spanNumeroExteriorFiscal">${NumeroExteriorFiscal}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span id="spanNumeroInteriorFiscal">${NumeroInteriorFiscal}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col4"><span id="spanColoniaFiscal">${ColoniaFiscal}</span></td>
                                    </tr>
                                    <tr>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>País:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Estado:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Código Postal:</span></td>
                                        
                                    </tr>
                                    <tr>                                     
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span id="spanPaisFiscal">${PaisFiscal}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span id="spanEstadoFiscal">${EstadoFiscal}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span id="spanCodigoPostalFiscal">${CodigoFiscal}</span></td>
                                        
                                    </tr>
                                    <tr>                                        
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Municipio:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Localidad:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3" colspan="2"><span class="lblEtiqueta">Referencia:</span></td>
                                    </tr>
                                    <tr>                                        
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span id="spanMunicipioFiscal">${MunicipioFiscal}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span id="spanLocalidadFiscal">${LocalidadFiscal}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3" colspan="2">
                                            <textarea id="txtReferenciaFiscal" readonly="readonly" >${ReferenciaFiscal}</textarea>
                                        </td>
                                    </tr>
                                  
                                </table>
                            </div>
                            <div id="tabDireccionEntrega">
                                <table class="tblFiltrosFacturaCliente-DatosPago">
                                    
                                    <tr>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta">Calle:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta">No. exterior:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span class="lblEtiqueta">No. interior:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col4"><span class="lblEtiqueta">Colonia:</span></td>
                                    </tr>
                                    <tr>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span id="spanCalleEntregaEntrega">${CalleEntrega}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span id="spanNumeroExteriorEntrega">${NumeroExteriorEntrega}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span id="spanNumeroInteriorEntrega">${NumeroInteriorEntrega}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col4"><span id="spanColoniaEntrega">${ColoniaEntrega}</span></td>
                                    </tr>
                                    <tr>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta">País:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta">Estado:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span class="lblEtiqueta">Código Postal:</span></td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span id="spanPaisEntrega">${PaisEntrega}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span id="spanEstadoEntrega">${EstadoEntrega}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span id="spanCodigoPostalEntrega">${CodigoPostalEntrega}</span></td>
                                    </tr>
                                    <tr>                                        
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta">Municipio:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta">Localidad:</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3" colspan="2"><span class="lblEtiqueta">Referencia:</span></td>
                                    </tr>
                                    <tr>                                        
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span id="spanMunicipioEntrega">${MunicipioEntrega}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span id="spanLocalidadEntrega">${LocalidadEntrega}</span></td>
                                        <td class="tblFiltrosFacturaCliente-DatosPago-td-col3" colspan="2">
                                            <textarea id="txtReferenciaEntrega" readonly="readonly">${ReferenciaEntrega}</textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="tblFormaFactura-Encabezado">
                <tr>
                    <td>
                        <div class="divTituloFormularioSM">
                            Datos de la factura
                        </div>
                    </td>
                </tr>
            </table>
            <table class="tblFiltrosFacturaCliente-DatosPago">
                <tr>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Fecha a facturar:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Serie:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>No. factura:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col4"><span class="lblEtiqueta"><span class="spanObligatorio"></span>Refacturación:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col5"><span class="lblEtiqueta">Sustituida por:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col6"><span class="lblEtiqueta">Anticipo:</span></td>
                </tr>
                <tr>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1">${FechaRequeridaFacturacion}</td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2">
                        ${SerieFactura}
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3">
                        ${NumeroFactura}
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3">
                        <input type="checkbox" disabled="disabled" id="chkEsRefactura" {{if EsRefactura === true}}checked="checked"{{/if}} />
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col5">${FolioHijo}</td>  
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col6">
                        <input type="checkbox" disabled="disabled" id="chkAnticipo" {{if Anticipo === true}} checked="checked" {{/if}} />
                    </td>
                </tr>
                <tr>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Tipo de moneda:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Tipo de cambio:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3"><span class="lblEtiqueta">Parcialidades:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col4"><span class="lblEtiqueta">No. parcialidades:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col5"><span class="lblEtiqueta">Factura sustituye:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col6"><span class="lblEtiqueta">Factura Relacionada:</span></td>
                </tr>
                <tr>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1">
                         ${TipoMoneda}                     
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2">
                        <span id="spanTipoCambioFactura">${TipoCambio}</span>
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3">
                        <input type="checkbox" disabled="disabled" id="chkParcialidades" {{if Parcialidades === true}}checked="checked"{{/if}} />
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col4">${NumeroParcialidades}</td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col5">${FolioPadre}</td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col6">${FacturaRelacionada}</td>
                </tr>
                <tr>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Agente:</span></td>                    
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>División:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3" colspan="2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Nota de la factura:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col4"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Uso CFDI:</span></td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col5"><span class="lblEtiqueta">Tipo Relación:</span></td>
                </tr>
                <tr>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col1">
                        ${Agente}
                    </td>                    
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col2">
                        ${Division}
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col3" colspan="2">
                        ${Nota}
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col4">
                        ${UsoCFDI}
                    </td>
                    <td class="tblFiltrosFacturaCliente-DatosPago-td-col5">
                        ${TipoRelacion}
                    </td>

                </tr>
            </table>
            {{if MotivoCancelacion!=""}}
            <table class="tblFiltrosFacturaCliente-DetalleFactura">
                <tr>
                    <td class="tblFiltrosFacturaCliente-DetalleFactura-td-col1">
                        <span class="lblEtiqueta">Motivo cancelacion:</span>
                    </td>
                </tr>
                <tr>
                    <td class="tblFiltrosFacturaCliente-DetalleFactura-td-col1">
                        ${MotivoCancelacion}
                    </td>
                </tr>
             </table>
             {{/if}}          
            <table class="tblFiltrosFacturaCliente-DetalleFactura">
                <tr>
                    <td class="tblFiltrosFacturaCliente-DetalleFactura-td-col1">
                        <table id="grdFacturaDetalleConsultar"></table>
                        <div id="pagFacturaDetalleConsultar"></div>
                    </td>
                </tr>
             </table>
        </div><!--end .wrapper-->
        <div class="divFiltrosTotalesFactura">
            <table class="tblFiltrosFactura-Totales">
                <tr>
                    <td width="100%">
                        <div id="divImprimir" class="cursorPointer" title="Imprimir" style="height:11px;">
                            <img src="../images/imprimir.png" style="width:25px;height:25px;"/>
                        </div>
                    </td>
                    <td class="subtitulo"><span class="lblEtiqueta">Subtotal:</span></td>
                    <td class="totales"><span id="txtSubtotalFactura">${formato.moneda(Subtotal,'$')}</span></td>
                </tr>
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Descuento:</span></td>
                    <td class="totales"><span id="txtDescuento">${formato.moneda(Descuento,'$')}</span></td>
                </tr> 
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Subtotal con descuento:</span></td>
                    <td class="totales"><span id="txtSubtotalDescuento">${formato.moneda(SubtotalDescuento,'$')}</span></td>
                </tr>          
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">IVA:</span></td>
                    <td class="totales"><span id="txtIVAFactura">${formato.moneda(IVA,'$')}</span></td>
                </tr>
                
                <tr>
                    <td class="subtitulo" colspan="2"><span class="lblEtiqueta">Total:</span></td>
                    <td class="totales"><span id="txtTotalFactura">${formato.moneda(Total,'$')}</span></td>
                </tr>
             </table>
             <table class="tblFiltrosFactura-TotalesLetra">
                 <tbody>
                    <tr>
                        <td class=""><span id="spanCantidadLetra" class="lblEtiqueta">${CantidadLetra}</span></td>
                    </tr>       
                </tbody>
             </table>
        </div>
    </div><!--end .col-1-->    
</div>