<div id="divFormaConsultarTipoCambio" idTipoCambio="${IdTipoCambio}">
    <table class="tblFormaConsultarTipoCambio"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de cambio:</span>
                </td>
                <td class="tblFormaConsultarTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Moneda origen:</span>
                </td> 
                <td class="tblFormaConsultarTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Moneda destino:</span>
                </td> 
                <td class="tblFormaConsultarTipoCambio-Etiqueta-Col1">
                    <span class="lblEtiqueta">Fecha:</span>
                </td> 
            </tr>
            <tr>                 
                <td class="tblFormaConsultarTipoCambio-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TipoCambio">${Simbolo}${TipoCambio}</span>
                </td>                
                <td class="tblFormaConsultarTipoCambio-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Moneda origen">${TipoMonedaOrigen}</span>
                </td> 
                <td class="tblFormaConsultarTipoCambio-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Moneda destino">${TipoMonedaDestino}</span>
                </td>
                <td class="tblFormaConsultarTipoCambio-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Fecha">${Fecha}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>