
<table class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1">
    <tr>
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Por fechas:</span></td>
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Fecha inicial:</span></td>
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta">Fecha final:</span></td>
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Número de serie:</span></td>
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col5"><span class="lblEtiqueta">Pedido:</span></td>
    </tr>
    <tr>
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col1">
            <input type="checkbox" id="chkPorFecha"/>                       
        </td>        
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col2"><input type="text" id="txtFechaInicial" value="${FechaInicial}"></td>
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col3"><input type="text" id="txtFechaFinal" value="${FechaFinal}"></td>
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col4"><input type="text" id="txtNumeroSerieBuscador" value="" onkeypress="javascript:return BuscarNumeroSerie(event);"></td> 
        <td class="tblFormaFiltrosEncabezadoRemision-Izquierda-Renglon-1-Col4"><input type="text" id="txtNumeroPedidoBuscador" value="" onkeypress="javascript:return BuscarNumeroPedido(event);"></td> 
    </tr>                         
</table>   
       