<div id="divFormaAgregarCuentasPorCobrar" idCuentaBancaria="${IdCuentaBancaria}" idCliente="${IdCliente}" idCuentasPorCobrar="${IdCuentasPorCobrar}">
    <div class="col-1">
        <table class="tblFormaCuentasPorCobrar-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioSM">
                        Cobro de documentos
                    </div>
                </td>
            </tr>
        </table>
        <table class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1"> 
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Cuenta:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col1">
                    <input type="text" id="txtCuenta" class="txtCajaTexto" value="" />
                </td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col2">
                    <div id="divBuscarCuentasContables" class="cursorPointer" title="CuentasContables">
                        <img src="../images/buscar.png" style="width:16px;height:16px;"/>
                    </div>
                </td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col3">
                    <span class="lblEtiqueta" id ="spanBanco">
                    </span>
                </td>
                <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col4">
                    <span id="PuedeVerSaldoEtiqueda" class="lblEtiqueta" style="display:none;">
                        Saldo: 
                    </span>
                 </td>
                 <td class="tblFormaIngresosNoDepositados-Izquierda-Renglon-1-Col5">
                    <span class="lblEtiqueta" id="spanSaldo" style="display:none;"></span>
                 </td>                   
            </tr>
         </table>
        <table class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3">
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Serie:</span></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Folio:</span></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta">Numero de Operación:</span></td>
            </tr>
            <tr>
                <td class="tblFormaNotaCredito-Izquierda-Renglon-3-Col1">
                    <select id="cmbSeriePago" class="cmbComboBox">
                        <option value="0">Eligir una opción...</option>
                        {{each SeriePago}}
                        <option value="${$value.IdSerieComplementoPago}" {{if $value.Selected === 1}} selected="selected" {{/if}}>${$value.SerieComplementoPago}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col2"><input type="text" id="txtFolio" onkeypress="javascript:return ValidarNumeroPunto(event, this.value);" disabled="disabled" /></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col3"><input type="text" id="txtNumeroOperacion" /></td>
            </tr>
        </table>
        <table class="tblFormaCuentasPorCobrar-Izquierda-Renglon-2">
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Tipo de pago:</span></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col2"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Fecha de captura:</span></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Importe:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col1">
                    <select id="cmbMetodoPago" class="cmbComboBox">
                        <option value="0">Eligir una opción...</option>
                        {{each MetodoPagos}}
                        <option value="${$value.IdMetodoPago}" {{if $value.Selected === 1}} selected="selected" {{/if}}>${$value.MetodoPago}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col2"><input type="text" id="txtFecha" class="txtFecha" value="${Fecha}" /></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col4"><input type="text" id="txtImporte" onkeypress="javascript:return ValidarNumeroPunto(event, this.value);" /></td>
            </tr>
        </table>
        <table class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3">
            <tr>
                <td class="tblFormaConcepto-Izquierda-Renglon-3-Col1" colspan="4"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Cliente</span></td>
            </tr>
            <tr>
                <td class="tblFormaConcepto-Izquierda-Renglon-1-Col1" colspan="5"><input type="text" id="txtRazonSocial" value="${RazonSocial}" /></td>
            </tr>
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">No. Cuenta:</span></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Banco:</span></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta">RFC Ordenante:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col1">
                    <select id="cmbNumeroCuenta" class="cmbComboBox">
                        <option value="0">No identificado</option>
                    </select>
                </td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col2"><input type="text" id="txtBancoOrdenante" disabled="disabled" /></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col3"><input type="text" id="txtRFCOrdenante" disabled="disabled" /></td>
            </tr>
        </table>
        <table class="tblFormaCuentasPorCobrar-Izquierda-Renglon-2">
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-2-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Referencia:</span></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-2-Col2"><span class="lblEtiqueta">Concepto general:</span></td>
            </tr>
            <tr>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-2-Col1"><input type="text" id="txtReferencia" value="" /></td>
                <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-2-Col2"><textarea id="txtConceptoGeneral"></textarea></td>
            </tr>
        </table>
        <div id="tabAsignarDocumentos">
            <div class="divAreaBotonesDialog" style="margin-left:580px;">
                <input type="button" id="btnObtenerFormaAsociarDocumentos" value="+ Asocicación de documentos" class="buttonLTR"/>
            </div>
            <ul>
                <li><a href="#OtrosDatos">Forma de pago</a></li>
                <li><a href="#Documentos">Documentos</a></li>
            </ul>
            <div id="OtrosDatos">
                <table class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3">
                    <tr>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col1"><span class="lblEtiqueta"><span class="spanObligatorio">*</span>Fecha de pago:</span></td>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col2"><span class="lblEtiqueta">Conciliado</span></td>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col3"><span class="lblEtiqueta">Asociado</span></td>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col4"><span class="lblEtiqueta">Tipo de moneda:</span></td>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col5"><span class="lblEtiqueta">T.C</span></td>
                    </tr>
                    <tr>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col1"><input type="text" id="txtFechaAplicacion" class"txtFecha" value="${FechaAplicacion}"/></td>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col2">
                            <input type="checkbox" id="chkConciliado"/>
                            <input type="text" id="txtFechaConciliacion" class"txtFecha" value="${Fecha}" disabled="disabled" />    
                        </td>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col3"><input type="checkbox" id="chkAsociado" disabled ="disabled"/></td>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-3-Col4">
                            <select id="cmbTipoMoneda" class="cmbComboBox">
                                <option value="0">Eligir una opción...</option>
                                {{each TipoMonedas}}
                                    <option value="${$value.IdTipoMoneda}" {{if $value.Selected === 1}}selected="selected"{{/if}}>${$value.TipoMoneda}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td class="tblFormaCuentasPorCobrar-Izquierda-Renglon-1-Col5">
                            <input id="txtTipoCambio" onkeypress="javascript:return ValidarNumeroPunto(event, this.value);" style="width:45px; text-align:right;" value="0" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="Documentos"></div>
        </div>
    </div>
</div>