<div>
	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td height="20" class="barraNotificacion">
					<strong id="lblEncabezadoNotificaciones" class="lblEncabezado">Recordatorio</strong>
				</td>
				<td class="hideOnClose barraNotificacion" width="15">
					<span class="ui-icon ui-icon-refresh hideOnClose" id="btnRefrescarNotificaciones" style="margin:0px;cursor:pointer;" title="Actualizar"></span>
				</td>
				<td class="hideOnClose barraNotificacion" width="15">
					<span class="ui-icon ui-icon-closethick hideOnClose" id="btnCerrarNotificaciones" style="margin:0px;cursor:pointer;" title="Cerrar"></span>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="hideOnClose">
						<br />
						<div id="listaNotificacionesActividades"><span class="showOnProcess">Cargando...</span></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>