<div id="divFormaAgregarLevantamiento"  idLevantamiento="${idLevantamiento}" idCliente="${IdCliente}">
    <div class="col-1">
        <table class="tblFormaServicio-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioSM">
                        Datos del Levantamiento
                    </div>
                </td>
            </tr>
        </table>
        <table class="tblFormaLevantamiento-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">No. Levantamiento:</span></td>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Fecha:</span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col2"><input id="txtFolio" type="text" value="${Folio}" placeholder="0" disabled /></td>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col5"><input type="text" id="txtFecha" value="${FechaAlta}" disabled /></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Razón social:</span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col6" colspan="4">
                    <input id="txtRazonSocial" type="text" value="${RazonSocial}" placeholder="Buscar Razón Social" style="width:99%"/>
                </td>
            </tr>
            <tr>
                
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col2"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Oportunidad:</span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col2" colspan="4">
                    <select id="cmbOportunidad" style="width:99%">
                        <option value="0">Elegir una opción...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1"><span class="spanObligatorio">*</span><span class="lblEtiqueta">División:</span></td>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col4"><span class="spanObligatorio">*</span><span class="lblEtiqueta">Vigencia: </span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1">
                    <select id="cmbDivision" class="cmbComboBox">
                        <option value="0">Eligir una opción...</option>
                        {{each Divisiones}}
                        <option value="${$value.Valor}" {{if $value.Selected === 1}} selected="selected" {{/if}}>${$value.Descripcion}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col3"><input id="txtValidoHasta" value="${ValidoHasta}" /> </td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1" ><span class="spanObligatorio">*</span><span class="lblEtiqueta">Descripción:</span></td>
            </tr>
            <tr>
                <td class="tblFormaLevantamiento-Izquierda-Renglon-1-Col1" colspan="3">
                    <textarea id="txtLevantamiento" rows="10"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>