<div id="divFormaEditarTipoGarantia" idTipoGarantia="${IdTipoGarantia}">
    <table class="tblFormaEditarTipoGarantia"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarTipoGarantia-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de garantía:</span>
                </td> 
                <td class="tblFormaEditarTipoGarantia-Control-Col2"> 
                    <input type="text" id="txtTipoGarantia" class="txtCajaTexto" value="${TipoGarantia}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>