<div id="divFormulario" class="etiquetaOculta" idClaseGenerador="0" clase="">
    <div class="divTituloFormulario">
        Filtros
    </div>
    <table class="tblFiltrosRemision">
        <tr>
            <td>
                <span class="lblEtiqueta">No. Remisión:</span>&nbsp
            </td>
            <td>
                <input type="text" id="txtNoRemision" class="txtCajaTexto"/>
            </td>
            <td>
                <span class="lblEtiqueta">No. Serie:</span>&nbsp
            </td>
            <td>    
                <input type="text" id="txtNoSerie" class="txtCajaTexto"/>
            </td>
            <td>
                <span class="lblEtiqueta">No. Pedido:</span>&nbsp
            </td>
            <td>
                <input type="text" id="txtNoPedido" class="txtCajaTexto"/>
            </td>
        </tr>
        <tr>
            <td>
                <span class="lblEtiqueta">No. Parte:</span>&nbsp
            </td>
            <td>
                <input type="text" id="txtNoParte" class="txtCajaTexto"/>
            </td>
            <td>
                <span class="lblEtiqueta">De:</span>&nbsp
            </td>
            <td>
                <input type="text" id="txtFechaDe" class="txtCajaTexto"/>
            </td>
            <td>   
                <span class="lblEtiqueta">A:</span>&nbsp
            </td>
            <td>    
                <input type="text" id="txtFechaA" class="txtCajaTexto"/>
            </td>
        </tr>
    </table>
</div>