<div id="divFormaEditarTipoCompra" idTipoCompra="${IdTipoCompra}">
    <div class="col-1">
       <table class="tblFormaTipoCompra-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaTipoCompra-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Tipo de compra:</span></td>
            </tr>
            <tr>
                <td class="tblFormaTipoCompra-Izquierda-Renglon-1-Col1"><input type="text" id="txtTipoCompra" value="${TipoCompra}" /></td>
            </tr>
            <tr>
                <td class="tblFormaTipoCompra-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Clave de cuenta contable:</span></td>
            </tr>
            <tr>
                <td class="tblFormaTipoCompra-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtClaveCuentaContable" value="${ClaveCuentaContable}" /></td>
            </tr>
        </table>
    </div>
</div>