<div id="divFormaAgregarUnidadCaracteristica">
    <table class="tblFormaAgregaUnidadCaracteristica"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarUnidadCaracteristica-Etiqueta-Col1">
                    <span class="lblEtiqueta">Unidad de característica:</span>
                </td> 
                <td class="tblFormaAgregarUnidadCaracteristica-Control-Col2"> 
                    <input type="text" id="txtUnidadCaracteristica" class="txtCajaTexto" value="" />
                </td>
            </tr> 
        </tbody>
    </table>
</div>