<div id="divFormaAgregarDivision">
	<div class="col-1">
		<table class="tblFormaDivision-Izquierda-Renglon-1">
			<tr>
				<td class="tblFormaDivision-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">División:</span></td>
			</tr>
			<tr>
				<td class="tblFormaDivision-Izquierda-Renglon-1-Col1"><input type="text" id="txtDivision" value="" /></td>
			</tr>
			<tr>
				<td class="tblFormaDivision-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Clave cuenta contable:</span></td>
				<td class="tblFormaDivision-Izquierda-Renglon-1-Col2">
					<span class="lblEtiqueta">Es venta:</span>
				</td> 
			</tr>
			<tr>
				<td class="tblFormaDivision-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtClaveCuentaContable" value="" /></td>
				<td class="tblFormaDivision-Izquierda-Renglon-1-Col2">
					<input type="checkbox" id="chkEsVenta"/> 
				</td>
			</tr>
			<tr>
				<td class="lblEtiqueta">Limite Descuento:</td>
				<td class="lblEtiqueta">Limite Margen:</td>
			</tr>
			<tr>
				<td><input type="text" id="txtLimiteDescuento" class="txtPorcentaje" /></td>
				<td colspan="2"><input type="text" id="txtLimiteMargen" class="txtPorcentaje" /></td>
			</tr>
			<tr>
				<td colspan="3">
					<label class="lblEtiqueta">Descripcion:</label>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<textarea id="txtDescripcion" style="width:95%;height:120px;resize:none;"></textarea>
				</td>
			</tr>
		</table>
	</div>
</div>