<div id="divFormaAgregarImpresionTemplate">
    <table class="tblFormaAgregaImpresionTemplate"> 
        <tbody>
            <tr> 
                <td class="tblFormaAgregarImpresionTemplate-Etiqueta-Col1">
                    <span class="lblEtiqueta">Empresa:</span>
                </td>
                <td class="tblFormaAgregarImpresionTemplate-Etiqueta-Col1">
                    <span class="lblEtiqueta">Impresión documento:</span>
                </td> 
            </tr>
            <tr>                 
                <td class="tblFormaAgregarImpresionTemplate-Control-Col2"> 
                    <select id="cmbEmpresa" class="cmbComboBox" onchange="">
                        <option value="0">Eligir una opción...</option>
                        {{each Empresas}}
                            <option value="${$value.Valor}" {{if $value.Selected === "1"}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="tblFormaAgregarImpresionTemplate-Control-Col2"> 
                    <select id="cmbImpresionDocumento" class="cmbComboBox" onchange="">
                        <option value="0">Eligir una opción...</option>
                        {{each ImpresionDocumentos}}
                            <option value="${$value.Valor}" {{if $value.Selected === "1"}}selected="selected"{{/if}}>${$value.Descripcion}</option>
                        {{/each}}
                    </select>
                </td>                
            </tr>
            <tr>
                <td class="tblFormaAgregarImpresionTemplate-Etiqueta-Col1">
                    <span class="lblEtiqueta">Ruta template:</span>                    
                </td> 
                <td class="tblFormaAgregarImpresionTemplate-Etiqueta-Col1">
                    <span class="lblEtiqueta">Ruta css:</span>
                </td> 
            </tr> 
            <tr>
                <td class="tblFormaAgregarImpresionTemplate-Control-Col2"> 
                    <input type="text" id="txtRutaTemplate" value="" readonly />
                    <div id="divSubirTemplate" archivo="">
		                <noscript>			                
			                <!-- or put a simple form for upload here -->
		                </noscript>
	                </div>
                </td>
                <td class="tblFormaAgregarImpresionTemplate-Control-Col2"> 
                    <input type="text" id="txtRutaCSS" value="" readonly />
                    <div id="divSubirTemplateCSS" archivo="">
		                <noscript>			                
			                <!-- or put a simple form for upload here -->
		                </noscript>
	                </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>