
<table class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1">
    <tr>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Por fechas:</span></td>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Fecha inicial:</span></td>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta">Fecha final:</span></td>
    </tr>
    <tr>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col1">
            <input type="checkbox" id="chkPorFecha"/>                       
        </td>        
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col2"><input type="text" id="txtFechaInicial" value="${FechaInicial}"></td>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col3"><input type="text" id="txtFechaFinal" value="${FechaFinal}"></td>     
      
    </tr>
     <tr>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Buscar factura por:</span></td>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">No. folio / No. proyecto:</span></td>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta"></span></td>
    </tr>
    <tr>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col1">
            <select id="cmbBusquedaDocumento" class="cmbComboBox">
                <option value="0">Filtro desactivado</option>
                <option value="1">Pedido</option>
                <option value="2">Proyecto</option>
            </select>
        </td>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col2">
            <input type="text" id="txtNumeroPedidoBuscador">
        </td>
        <td class="tblFormaFiltrosOrdenCompraEncabezado-Izquierda-Renglon-1-Col3"></td>
    </tr>    
</table>   
       