<div id="divFormaEditarBanco" idBanco="${IdBanco}">
    <table class="tblFormaEditarBanco"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarBanco-Etiqueta-Col1">
                    <span class="lblEtiqueta">Banco:</span>
                </td> 
                <td class="tblFormaEditarBanco-Control-Col2"> 
                    <input type="text" id="txtBanco" class="txtCajaTexto" value="${Banco}" />
                </td>             
            </tr> 
        </tbody>
    </table>
</div>
