<div id="divFormaAgregarIVA">
    <div class="col-1">
       <table class="tblFormaIVA-Izquierda-Renglon-1">
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Valor IVA:</span></td>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Descripción:</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1"><input type="text" id="txtIVA" value="" onkeypress="javascript:return ValidarNumeroPunto(event, this.value);"/></td>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col2"><input type="text" id="txtDescripcionIVA" value="" /></td>
            </tr>            
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable (IVA Acreedor):</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtClaveCuentaContable" value="" class="txtCuentaContable" /></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable (IVA Acreedor Pagado):</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtCCAcreditablePagado" value="" class="txtCuentaContable" /></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable (IVA Trasladado):</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtCuentaContableTrasladado" value="" class="txtCuentaContable" /></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><span class="lblEtiqueta">Cuenta contable (IVA Trasladado Pagado):</span></td>
            </tr>
            <tr>
                <td class="tblFormaIVA-Izquierda-Renglon-1-Col1" colspan="2"><input type="text" id="txtCCTrasladadoPagado" value="" class="txtCuentaContable" /></td>
            </tr>
        </table>
    </div>
</div>