<div id="divFormaAgregarCuentaContableComplementos" idTipoCuentaContable="${IdTipoCuentaContable}">
    <table>
        <tr>
            <td><span class="lblEtiqueta">${TipoCuentaContable}:</span></td>
            <td><input id="txtCuentaClienteComplemento" value="${CuentaClienteComplemento}" style="width:150px;" /></td>
            <td><span class="lblEtiqueta">Descripción:</span></td>
            <td><input id="txtDescripcionCuentaClienteComplemento" value="${DescripcionCuentaClienteComplemento}" style="width:150px;" /></td>
        </tr>
    </table>
</div>