<div id="divFormaConsultarTiempoEntrega" idTiempoEntrega="${IdTiempoEntrega}">
    <table class="tblFormaConsultarTiempoEntrega"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTiempoEntrega-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tiempo de entrega:</span>
                </td> 
                <td class="tblFormaConsultarTiempoEntrega-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TiempoEntrega">${TiempoEntrega}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>