<div id="divFormaConsultarSubCategoria" idSubCategoria="${IdSubCategoria}">
    <table class="tblFormaConsultarSubCategoria"> 
        <tbody>
            <tr>
                <td class="tblFormaConsultarSubCategoria-Etiqueta-Col1">
                    <span class="spanObligatorio">*</span><span class="lblEtiqueta">Categoría:</span>
                </td> 
                <td class="tblFormaConsultarSubCategoria-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="Categoria">${Categoria}</span>
                </td> 
                <td class="tblFormaConsultarSubCategoria-Etiqueta-Col1">
                    <span class="spanObligatorio">*</span><span class="lblEtiqueta">SubGrupo:</span>
                </td> 
                <td class="tblFormaConsultarSubCategoria-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="SubCategoria">${SubCategoria}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>