<div id="divFormaEditarTipoMoneda" idTipoMoneda="${IdTipoMoneda}">
    <table class="tblFormaEditarTipoMoneda"> 
        <tbody>
            <tr> 
                <td class="tblFormaEditarTipoMoneda-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de moneda:</span>
                </td> 
                <td class="tblFormaEditarTipoMoneda-Control-Col2"> 
                    <input type="text" id="txtTipoMoneda" class="txtCajaTexto" value="${TipoMoneda}" />
                </td>             
            </tr> 
            <tr> 
                <td class="tblFormaEditarTipoMoneda-Etiqueta-Col1">
                    <span class="lblEtiqueta">Símbolo:</span>
                </td> 
                <td class="tblFormaEditarTipoMoneda-Control-Col2"> 
                    <input type="text" id="txtSimbolo" class="txtCajaTexto" value="${Simbolo}" maxlength="1"/>
                </td>             
            </tr>
        </tbody>
    </table>
</div>