
<table class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1">
    <tr>
        <td class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Por fechas:</span></td>
        <td class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Fecha inicial:</span></td>
        <td class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta">Fecha final:</span></td>
        <td class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Documentos timbrados:</span></td>
    </tr>
    <tr>
        <td class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1-Col1">
            <input type="checkbox" id="chkPorFecha"/>                       
        </td>        
        <td class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1-Col2"><input type="text" id="txtFechaInicial" value="${FechaInicial}"></td>
        <td class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1-Col3"><input type="text" id="txtFechaFinal" value="${FechaFinal}"></td>
        <td class="tblFormaFiltrosNotaCredito-Izquierda-Renglon-1-Col4">
            <select id="cmbFiltroTimbrado" style="width:100px;">
                <option value="0">Todos</option>
                <option value="1">Timbrados</option>
                <option value="2">Sin timbrar</option>
                
            </select>
        </td>
     
    </tr>                         
</table>   
       