<div id="divFormaConsultarBanco" idBanco="${IdBanco}">
    <table class="tblFormaConsultarBanco"> 
        <tbody>
            <tr>
                <td class="tblFormaConsultarBanco-Etiqueta-Col1">
                    <span class="lblEtiqueta">Banco:</span>
                </td>
                <td class="tblFormaConsultarBanco-Control-Col2">
                    <span class="lblEtiquetaConsulta" title="Banco">${Banco}</span>
                </td>
                <td class="tblFormaConsultarBanco-Etiqueta-Col1">
                    <span class="lblEtiqueta">RFC:</span>
                </td>
                <td class="tblFormaConsultarBanco-Control-Col2">
                    <span class="lblEtiquetaConsulta" title="RFC">${RFC}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>