<div id="divFormaConsultarTipoIndustria" idTipoIndustria="${IdTipoIndustria}">
    <table class="tblFormaConsultarTipoIndustria"> 
        <tbody>
            <tr> 
                <td class="tblFormaConsultarTipoIndustria-Etiqueta-Col1">
                    <span class="lblEtiqueta">Tipo de industria:</span>
                </td> 
                <td class="tblFormaConsultarTipoIndustria-Control-Col2"> 
                    <span class="lblEtiquetaConsulta" title="TipoIndustria">${TipoIndustria}</span>
                </td>
            </tr> 
        </tbody>
    </table>
</div>