<table class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1">
    <tr>
        <td class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1-Col1"><span class="lblEtiqueta">Por fechas:</span></td>
        <td class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1-Col2"><span class="lblEtiqueta">Fecha inicial:</span></td>
        <td class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1-Col3"><span class="lblEtiqueta">Fecha final:</span></td>
        <td class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1-Col4"><span class="lblEtiqueta">Folio:</span></td>
    </tr>
    <tr>
        <td class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1-Col1"><input type="checkbox" id="chkPorFechaR" /></td>
        <td class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1-Col2"><input type="text" id="txtFechaInicialR" value="${FechaInicial}"></td>
        <td class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1-Col3"><input type="text" id="txtFechaFinalR" value="${FechaFinal}"></td>
        <td class="tblFormaFiltrosReingresoMaterial-Izquierda-Renglon-1-Col4"><input type="text" id="txtFolioR" style="width:173px;" value="" onkeypress="javascript:return BuscarNumeroSerie(event);"></td>    
    </tr>
</table>
