<div id="divFormaConsultarServicioAEnrolar" idServicio="${IdServicio}">
<table class="tblFormaConsultarServicio"> 
    <tbody>
        <tr>
            <div class="divAreaCamposLargo">
                <textarea id="txtServicio" cols="72" rows="2" disabled ="true" >Esta clave de servicio ${Clave} ya existe dada de alta en otra empresa, la puede enrolar a su empresa</textarea>
            </div>
        </tr>
        <tr> 
            <td class="tblFormaConsultarServicio-Etiqueta-Col1">
                <span class="lblEtiqueta">Tipo de servicio:</span>
            </td> 
            <td class="tblFormaConsultarServicio-Control-Col2"> 
                <span class="lblEtiquetaConsulta" title="Tipo de servicio">${TipoServicio}</span> 
            </td>
            <td class="tblFormaConsultarServicio-Etiqueta-Col3">
                <span class="lblEtiqueta">Servicio:</span>
            </td> 
            <td class="tblFormaConsultarServicio-Control-Col4"> 
                <span class="lblEtiquetaConsulta" title="Servicio">${Servicio}</span> 
            </td>
        </tr>
        
        <tr> 
            <td class="tblFormaConsultarServicio-Etiqueta-Col5">
                <span class="lblEtiqueta">Clave:</span>
            </td> 
            <td class="tblFormaConsultarServicio-Control-Col6"> 
                <span class="lblEtiquetaConsulta" title="Tipo de servicio">${Clave}</span> 
            </td>
            <td class="tblFormaConsultarServicio-Etiqueta-Col7">
                <span class="lblEtiqueta">Tipo de venta:</span>
            </td> 
            <td class="tblFormaConsultarServicio-Control-Col8"> 
                <span class="lblEtiquetaConsulta" title="Servicio">${TipoVenta}</span> 
            </td>
        </tr> 
        
        <tr>
            <td class="tblFormaConsultarServicio-Etiqueta-Col9">
                <span class="lblEtiqueta">Unidad de media:</span>
            </td> 
            <td class="tblFormaConsultarServicio-Control-Col10"> 
                <span class="lblEtiquetaConsulta" title="Unidad de compra venta">${UnidadCompraVenta}</span> 
            </td>
            <td class="tblFormaConsultarServicio-Etiqueta-Col11">
                <span class="lblEtiqueta">Precio:</span>
            </td> 
            <td class="tblFormaConsultarServicio-Control-Col12"> 
                <span class="lblEtiquetaConsulta" title="Precio">${Precio}</span> 
            </td>
        </tr>
        <tr>
            <td class="tblFormaConsultarServicio-Etiqueta-Col13">
                <span class="lblEtiqueta">Tipo de moneda</span>
            </td> 
            <td class="tblFormaConsultarServicio-Control-Col14"> 
                <span class="lblEtiquetaConsulta" title="Precio">${TipoMoneda}</span> 
            </td>
        </tr>
        
        
    </tbody>
</table>
</div>