<div id="divFormaConciliarCuentasPorCobrar" idCliente="${IdCliente}" idCuentasPorCobrar="${IdCuentasPorCobrar}">
    <div class="col-1">
        <table class="tblFormaCuentasPorCobrar-Encabezado">
            <tr>
                <td>
                    <div class="divTituloFormularioSM">
                        Conciliar ingresos
                    </div>
                </td>
            </tr>
        </table>
       <div id="divGridCuentasPorCobrarConciliar" class="divContGrid renglon-bottom">
            <div id="divContGridConciliarCuentasPorCobrar">
                <!--INICIO GRID CONCILIAR CUENTAS POR COBRAR-->
                <table id="grdCuentasPorCobrarConciliar"></table>
                <div id="pagCuentasPorCobrarConciliar"></div>
                <!--FIN DE GRID CONCILIAR CUENTAS POR COBRAR-->
            </div>
        </div>
    </div>
</div>